<!-- Footer - bloc-10 -->
<div class="bloc  d-bloc" id="bloc-10">
	<div class="container bloc-sm">
		<div class="row">
			<div class="col-sm-6">
				<h3 class="text-left">Link</h3>
				<a href="#" class="a-btn a-block">1</a>
				<a href="#" class="a-btn a-block">2</a>
			</div>
			<div class="col-sm-6">
				<p class="mg-sm text-right">
					© 2015 Colorado State University, RPSEA and the Center for Energy-Water Sustainability · <a href="/index">Privacy</a> · <a href="/index">Terms</a>
				</p>
			</div>
		</div>
	</div>
</div>
<!-- Footer - bloc-10 END -->