<!-- Footer - bloc-10 -->
<div class="bloc  d-bloc" id="bloc-10">
	<div class="container bloc-sm">
		<div class="row">
			<div class="col-sm-6">
				<h5 class="text-left">Copyright © 2015 by</h5>
				<a href="http://www.colostate.edu/" class="a-btn a-block" target="_blank">Colorado State University</a>
				<a href="http://www.rpsea.org/" class="a-btn a-block" target="_blank">Research Partnership to Secure Energy for America</a>
				<a href="http://cewc.colostate.edu/" class="a-btn a-block" target="_blank">Center for Energy-Water Sustanability</a>
			</div>
			<div class="col-sm-4">
				<h5 class="text-left">About</h5>
				<a href="#" class="a-btn a-block" target="_blank">Team</a>
			</div>
			
			<div class="col-sm-2">
				<h5 class="text-left">Follow Us</h5>
				<a href="#" class="a-btn a-block" target="_blank">twitter</a>
				<a href="#" class="a-btn a-block" target="_blank">Facebook</a>
				<a href="#" class="a-btn a-block" target="_blank">Google+</a>
			</div>
		</div>
	</div>
</div>
<!-- Footer - bloc-10 END -->