{% load staticfiles %}

<!-- Navigation Bloc -->
<div id="nav-bloc" class="bloc bgc-1 d-bloc animated">
    <div class="container-fluid">
        <nav class="navbar row">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img src="{% static 'img/logo.png' %}" alt=''/>AQUAM</a>
                <button id="nav-toggle" type="button" class="ui-navbar-toggle navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-1">
                    <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span>
                </button>
            </div>
			
            <div class="collapse navbar-collapse navbar-1">
                <ul class="site-navigation nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/solutions">Solutions</a>
                    </li>
                    <li>
                        <a href="/geoanalytics">Geoanalytics</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                
                {% if not sign_in %}
                    <div class="login-component">
                        <ul class="navbar-form navbar-right">
                            <button type="submit" class="btn btn-warning">Sign up</button>
                            <li><p class="navbar-text">Already have an account?</p></li>
                            <li class="login-dp">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b><spanclass="caret"></span></a>
                            </li>
                        </ul>
                    </div>
                {% else %}
                {% endif %}
            </div>
        </nav>
    </div>
</div>
<!-- Navigation Bloc END -->