{% load staticfiles %}

<!-- Navigation Bloc -->
<div id="nav-bloc" class="bloc bgc-1 d-bloc animated">
    <div class="container">
        <nav class="navbar">
            <div class="navbar-header">
                <a class="navbar-brand">AQUAM</a>
                <button id="nav-toggle" type="button" class="ui-navbar-toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-1">
                    <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
            </div>
            
            <div class="collapse navbar-collapse navbar-1">
                <ul class="site-navigation nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/solutions">Solutions</a>
                    </li>
                    <li>
                        <a href="/geoanalytics">Geoanalytics</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- Navigation Bloc END -->