<table class="table table-striped">
    <thead>
        <tr>
            <th>Days</th>
            <th>Well 1</th>
            <th>Well 2</th>
            <th>Well 3</th>
            <th>Well 4</th>
            <th>Well 5</th>
            <th>Well 6</th>
            <th>Well 7</th>
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
        <tr>
            <td>{{record.days}}</td>
            <td>{{record.well_1}}</td>
            <td>{{record.well_2}}</td>
            <td>{{record.well_3}}</td>
            <td>{{record.well_4}}</td>
            <td>{{record.well_5}}</td>
            <td>{{record.well_6}}</td>
            <td>{{record.well_7}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'solutions/partial/paginator.html' %}