<table class="table table-striped">
    <thead>
    <tr>
        <th>API</th>
        <th>Fracture Date</th>
        <th>State</th>
        <th>County</th>
        <th>Well Name</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Horizontal Length</th>
        <th>Water Use</th>
    </tr>
    </thead>
    <tbody>
    {% for record in records %}
        <tr>
            <td>{{ record.api }}</td>
            <td>{{ record.frac_date }}</td>
            <td>{{ record.state }}</td>
            <td>{{ record.county }}</td>
            <td>{{ record.well_name }}</td>
            <td>{{ record.latitude }}</td>
            <td>{{ record.longtitude }}</td>
            <td>{{ record.horizontal_length }}</td>
            <td>{{ record.water_use }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% include 'solutions/partial/paginator.html' %}