{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/chart.css' %}"/>
    <!-- D3 -->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
{% endblock %}

{% block mainbody %}
<div class="container">
    <div class="jumbotron">
        <h2>Produced Water Modeler</h2>
        <p>This modeler is an interactive tool designed to model water production trends based on 
            historical data, giving the user a temporal edge of analyzing how much water was produced 
            over a specific amount of time, and how the user could imperatively plan the amount of 
            water to be handled on a particular day. It has been strategically designed to estimate 
            time based production of water based on trends fitted to the well known Arp's Equation for 
            modeling produced water. Not only does it calculate the water to be produced on a particular 
            day, it also seamless integrates the numbers to estimate average water production volumes for 
            a particular time frame, as specified by the user.
        </p>
    </div>
    
    <h3>Produced Water By Wells</h3>
    
    <div id="table-container">
        {% include 'solutions/partial/produced-water-table.html'%}
    </div>
    
    <hr>
    
    <div>
        {{ data }}
    </div>
    
    <hr>
    <h3>Arp Model</h3>
    <div class="chart" style="with:100%">
        <div id="chart1" style="width:100%; height:500px"></div>
        <hr/>
    </div>
{% endblock %}

{% block footer %}
<script type="text/javascript">
    $(document).ready(function() {
        d3.json("{% url 'get-arp-model'%}", function(error, data) {
           console.log(data)
        });
    });
    $(document).ready(function() {
        d3.json("{% url 'get-arp-prediction'%}", function(error, data) {
           console.log(data)
        });
    });
</script>
{% endblock %}