{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/chart.css' %}"/>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="{% static 'js/bootstrap-slider.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-slider.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom-slider.css' %}"/>
{% endblock %}

{% block mainbody %}
    <div class="container">
        <div class="jumbotron">
            <h2>Water Treatment Analyzer</h2>

            <p>Water treament is a paramount part of estimating the pertinent treatment required to reuse
                the produced water to a beneficial reuse condition. This modeler will estimate the quality
                of the water being produced, simultaneously addressing the temporal aspects of the changing
                water quality. In laymen terms, this tool helps estimate the incoming water quality of produced
                water with respect to time, in order to plan effective treatment. It models the water quality
                based on historical averages of water quality for any specific dataset.
            </p>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-info">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Methods</div>
                    <div class="panel-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="col-md-2"></th>
                                <th class="col-md-3 row-head"><i>Coagulation/Filtration</i></th>
                                <th class="col-md-3 row-head"><i>Softening/Clarification</i></th>
                                <th class="col-md-3 row-head"><i>Reverse Osmosis</i></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="col-head">TDS</td>
                                <td class="col-body" id="methods-tds-1"></td>
                                <td class="col-body" id="methods-tds-2"></td>
                                <td class="col-body" id="methods-tds-3"></td>
                            </tr>
                            <tr>
                                <td class="col-head">Sodium</td>
                                <td class="col-body" id="methods-sodium-1"></td>
                                <td class="col-body" id="methods-sodium-2"></td>
                                <td class="col-body" id="methods-sodium-3"></td>
                            </tr>
                            <tr>
                                <td class="col-head">Chloride</td>
                                <td class="col-body" id="methods-chloride-1"></td>
                                <td class="col-body" id="methods-chloride-2"></td>
                                <td class="col-body" id="methods-chloride-3"></td>
                            </tr>
                            <tr>
                                <td class="col-head">Calcium</td>
                                <td class="col-body" id="methods-calcium-1"></td>
                                <td class="col-body" id="methods-calcium-2"></td>
                                <td class="col-body" id="methods-calcium-3"></td>
                            </tr>
                            <tr>
                                <td class="col-head">Iron</td>
                                <td class="col-body" id="methods-iron-1"></td>
                                <td class="col-body" id="methods-iron-2"></td>
                                <td class="col-body" id="methods-iron-3"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="panel panel-info">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Parameters</div>
                    <div class="panel-body">
                        <table class="table table-bordered table-striped" id="water-treatment-table-2">
                            <thead>
                            <tr>
                                <th class="row-head row-head-1"></th>
                                <th class="row-head row-head-2"><i>Critical Fracturing Fluids Quality</i></th>
                                <th class="row-head row-head-3"><i>Fresh Water Quality</i></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="col-head">TDS</td>
                                <td class="col-body" id="parameters-tds-1"></td>
                                <td class="col-body" id="parameters-tds-2"></td>
                            </tr>
                            <tr>
                                <td class="col-head">Sodium</td>
                                <td class="col-body" id="parameters-sodium-1"></td>
                                <td class="col-body" id="parameters-sodium-2"></td>
                            </tr>
                            <tr>
                                <td class="col-head">Chloride</td>
                                <td class="col-body" id="parameters-chloride-1"></td>
                                <td class="col-body" id="parameters-chloride-2"></td>
                            </tr>
                            <tr>
                                <td class="col-head">Calcium</td>
                                <td class="col-body" id="parameters-calcium-1"></td>
                                <td class="col-body" id="parameters-calcium-2"></td>
                            </tr>
                            <tr>
                                <td class="col-head">Iron</td>
                                <td class="col-body" id="parameters-iron-1"></td>
                                <td class="col-body" id="parameters-iron-2"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="chart-container" style="width:100%">
            <div class="panel panel-primary chart-panel" id="water-treatment-analytics">
                <div class="panel-heading">
                    <span class="text-left">
                        Select location here --->
                    </span>

                    <span class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            <span id="dp-title">Core</span>
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu" id="dp-content">
                        </ul>
                    </span>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="panel panel-info">
                                <!-- Default panel contents -->
                                <div class="panel-heading">Fitting Equation</div>
                                <div class="panel-body">
                                    <p>
                                        <b><i>WQ = &alpha; * ln(t) + &beta;</i></b>
                                    </p>

                                    <hr>

                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th class="col-md-2"></th>
                                            <th class="col-md-3 row-head"><i>&alpha;</i></th>
                                            <th class="col-md-3 row-head"><i>&beta;</i></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="col-head">TDS</td>
                                            <td class="col-body" id="tds-k"></td>
                                            <td class="col-body" id="tds-d"></td>
                                        </tr>
                                        <tr>
                                            <td class="col-head">Sodium</td>
                                            <td class="col-body" id="sodium-k"></td>
                                            <td class="col-body" id="sodium-d"></td>
                                        </tr>
                                        <tr>
                                            <td class="col-head">Chloride</td>
                                            <td class="col-body" id="chloride-k"></td>
                                            <td class="col-body" id="chloride-d"></td>
                                        </tr>
                                        <tr>
                                            <td class="col-head">Calcium</td>
                                            <td class="col-body" id="calcium-k"></td>
                                            <td class="col-body" id="calcium-d"></td>
                                        </tr>
                                        <tr>
                                            <td class="col-head">Iron</td>
                                            <td class="col-body" id="iron-k"></td>
                                            <td class="col-body" id="iron-d"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-9">
                            <div class="panel panel-info">
                                <!-- Default panel contents -->
                                <div class="panel-heading">Arp's Model</div>
                                <div class="panel-body">
                                    <div class="eq-c">
                                        <i>q</i>(t) =
                                        <div class="fraction">
                                            <span class="fup">Q<sub>0</sub></span>
                                            <span class="bar">/</span>
                                            <span class="fdn">( 1 + D * t ) <i><sup>1/b</sup></i></span>
                                        </div>
                                    </div>

                                    <hr>

                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th class="row-head">Fracturing Flowback (1 month)</th>
                                            <th class="row-head">Transition (4 months)</th>
                                            <th class="row-head">Produced Water (after 5 months)</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="col-head">Q<sub>0</sub></td>
                                            <td class="col-body" id="q0-1"></td>
                                            <td class="col-body" id="q0-2"></td>
                                            <td class="col-body" id="q0-3"></td>
                                        </tr>
                                        <tr>
                                            <td class="col-head">D</td>
                                            <td class="col-body" id="d-1"></td>
                                            <td class="col-body" id="d-2"></td>
                                            <td class="col-body" id="d-3"></td>
                                        </tr>
                                        <tr>
                                            <td class="col-head">b</td>
                                            <td class="col-body" id="b-1"></td>
                                            <td class="col-body" id="b-2"></td>
                                            <td class="col-body" id="b-3"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                    <hr>

                    <div class="eq-c">
                        <i>q</i>(t) =
                        <div class="fraction">
                            <span class="fup">Q<sub>0</sub></span>
                            <span class="bar">/</span>
                            <span class="fdn">( 1 + D * t ) <i><sup>1/b</sup></i></span>
                        </div>
                        * <i>recycle</i>%&nbsp;&nbsp;&nbsp;( b > 0 )
                        <span class="text-center" style="margin-left: 20%">
                            <i>q</i>(t) = Q<sub>0</sub> * t<sup>D</sup>
                            %&nbsp;&nbsp;&nbsp;( b = 0 )
                        </span>

                    </div>
                    <div class="row water-treatment-submit-panel">
                        <form class="form-inline">
                            <div class="col-md-5">
                                <span class="label label-primary water-treatment-label">End day</span>
                                <input id="water-treatment-slider"
                                       type="text"
                                       class="span2"/>
                                <input type="text" class="input-sm form-control" name="end_day"
                                       id="end-day-input" onkeypress="return isNumberKey(event)"
                                       onkeydown="return updateSlider(event)"/>
                            </div>
                            <div class="col-md-2">
                                <span class="label label-primary water-treatment-label">Stages</span>
                                <input type="text" class="input-sm form-control" name="stage_number"
                                       id="stages-input" onkeypress="return isNumberKey(event)">
                            </div>
                            <div class="col-md-2">
                                <span class="label label-primary water-treatment-label">Recycle</span>
                                <input type="text" class="input-sm form-control" name="recycle_input"
                                       id="recycle-input" onkeypress="return isNumberKey(event)"
                                       onkeydown="return validRecycle(event)"/>%
                            </div>

                            <div class="col-md-3">
                                <span>
                                Select Constitutent:
                                </span>

                                <span class="dropdown">
                                    <button type="button" class="btn btn-primary dropdown-toggle"
                                            id="water-treatment-dp-btn" data-toggle="dropdown">
                                        <span id="dp-constitutent-title">TDS</span>
                                        <span class="caret"></span></button>
                                    <ul class="dropdown-menu" id="dp-constitutent">
                                        <li><a>TDS</a></li>
                                        <li><a>Sodium</a></li>
                                        <li><a>Chloride</a></li>
                                        <li><a>Calcium</a></li>
                                        <li><a>Iron</a></li>
                                    </ul>
                                </span>
                            </div>
                        </form>
                        <div class="col-md-2 col-md-offset-5">
                            <button type="button" class="btn btn-success dropdown-toggle"
                                    id="water-treatment-cal-btn">Calculate
                            </button>
                        </div>
                    </div>
                    <hr>

                    <div class="panel panel-primary chart-panel hide" id="water-treatment-chart">
                        <div class="panel-heading chart-heading water-treatment-head">
                            <div class="dropdown">
                                <button type="button" class="btn btn-primary dropdown-toggle"
                                        id="water-treatment-graph-dp" data-toggle="dropdown">
                                    <span id="water-treatment-graph-dp-title">Select Water Treatment Result</span>
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu" id="water-treatment-graph-dp-content">
                                    <li><a id="wqfrac_iter_1">WQfrac_iter_1</a></li>
                                    <li><a id="wqfrac_iter_2">WQfrac_iter_2</a></li>
                                    <li><a id="wqfrac_iter_3">WQfrac_iter_3</a></li>
                                    <li><a id="ratio_iter_1">VFresh1/Vrec</a></li>
                                    <li><a id="ratio_iter_2">VFresh2/Vrec</a></li>
                                    <li><a id="ratio_iter_3">VFresh3/Vrec</a></li>
                                    <li><a id="vfresh_iter_1">VFresh_iter_1</a></li>
                                    <li><a id="vfresh_iter_2">VFresh_iter_2</a></li>
                                    <li><a id="vfresh_iter_3">VFresh_iter_3</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="panel-body">
                            <div id="chart1" class="chart" style="width:100%; height:500px">
                            </div>
                        </div>

                        {#                        <div class="panel-footer chart-footer" id="chart1-footer">#}
                        {#                        Filter by days interval: <b id="slider-day-start"></b> <input id="water-quality-slider"#}
                        {#                                                                                      type="text"#}
                        {#                                                                                      class="span2"/>#}
                        {#                        <b id="slider-day-end"></b>#}
                        {##}
                        {#                        </div>#}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}


{% block footer %}
    <script type="text/javascript">
        $(document).ready(function () {

            d3.json("{% url 'get-water-treatment-general-settings'%}", function (error, data) {
                //update methods & parameters panel
                for (var table in data) {
                    if (data.hasOwnProperty(table) && table != "locations") {
                        for (var row in data[table]) {
                            if (data[table].hasOwnProperty(row)) {
                                for (var col in data[table][row]) {
                                    if (data[table][row].hasOwnProperty(col)) {
                                        var id = table + "-" + row.toLowerCase() + "-" + col_to_number(col);
                                        $("#" + id).html(data[table][row][col]);
                                    }
                                }
                            }
                        }
                    }
                }
                
                //update location dropdown
                var locations = data["locations"];
                var dp_content = "";
                for (i = 0; i < locations.length; i++) {
                    if (locations[i] == "West Pony" || locations[i] == "Commins") {
                        continue;
                    }
                    dp_content = dp_content.concat("<li id=\"dp-")
                            .concat(locations[i])
                            .concat("\"><a>")
                            .concat(locations[i])
                            .concat("</li></a>")
                }
                var dp = $("#dp-content");
                dp.html(dp_content);

                d3.json("{% url 'get-water-treatment-location-settings'%}", function (error, data) {
                    var init_location = $("#dp-title").html();
                    updateData(init_location, data);
                    dp.find("li").click(function () {
                        var $this = $(this);

                        var selected_location = $this.find("a").html();
                        updateData(selected_location, data);
                    });
                });
            });
        });

        function updateData(selected_location, data) {
            var coefficients = data["coefficients"];
            var parameters = data["parameters"];
            var selected_coefficients = coefficients[selected_location];
            var selected_parameters = parameters[selected_location];
            $("#dp-title").html(selected_location);
            //coefficients
            $("#tds-k").html(selected_coefficients["TDS"][0]);
            $("#tds-d").html(selected_coefficients["TDS"][1]);
            $("#sodium-k").html(selected_coefficients["Sodium"][0]);
            $("#sodium-d").html(selected_coefficients["Sodium"][1]);
            $("#chloride-k").html(selected_coefficients["Chloride"][0]);
            $("#chloride-d").html(selected_coefficients["Chloride"][1]);
            $("#calcium-k").html(selected_coefficients["Calcium"][0]);
            $("#calcium-d").html(selected_coefficients["Calcium"][1]);
            $("#iron-k").html(selected_coefficients["Iron"][0]);
            $("#iron-d").html(selected_coefficients["Iron"][1]);
            //parameters
            $("#q0-1").html(selected_parameters["Fracturing Flowback"]["Q0"]);
            $("#q0-2").html(selected_parameters["Transition"]["Q0"]);
            $("#q0-3").html(selected_parameters["Produced Water"]["Q0"]);
            $("#d-1").html(selected_parameters["Fracturing Flowback"]["D"]);
            $("#d-2").html(selected_parameters["Transition"]["D"]);
            $("#d-3").html(selected_parameters["Produced Water"]["D"]);
            $("#b-1").html(selected_parameters["Fracturing Flowback"]["b"]);
            $("#b-2").html(selected_parameters["Transition"]["b"]);
            $("#b-3").html(selected_parameters["Produced Water"]["b"]);
        }
        $(document).ready(function () {
            var slider = $("#water-treatment-slider");
            slider.attr("data-slider-min", "1")
                    .attr("data-slider-max", 2000)
                    .attr("data-slider-value", "1000")
                    .slider({});
            var sliderinput = $("#end-day-input");
            sliderinput.val(1000);
            slider.on("slide", function (slideEvt) {
                sliderinput.val(slideEvt.value);
            });
            $("#stages-input").val(20);
            $("#recycle-input").val(100);
        });

        function col_to_number(col) {
            switch (col) {
                case "Critical Fracturing Fluids Quality":
                case "Coagulation/Filtration":
                    return 1;
                case "Fresh Water Quality":
                case "Softening/Clarification":
                    return 2;
                case "Reverse Osmosis":
                    return 3;
            }
        }

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            return !(charCode > 31 && (charCode < 48 || charCode > 57));

        }

        function updateSlider(evt) {
            if (evt.keyCode == 13) {
                var newVal = parseInt($("#end-day-input").val());
                if (newVal > 2000 || newVal < 1) {
                    alert("Invalid input");
                } else {
                    $("#water-treatment-slider").slider("setValue", newVal);
                }
            }
        }

        function validRecycle(evt) {
            if (evt.keyCode == 13) {
                var newVal = parseInt($("#recycle-input").val());
                if (newVal > 100 || newVal < 0) {
                    alert("Invalid input");
                }
            }
        }

        $("#water-treatment-cal-btn").click(function () {
            var location = $("#dp-title").html();
            var endday = $("#end-day-input").val();
            var stages = $("#stages-input").val();
            var recycle = parseInt($("#recycle-input").val()) / 100;
            var constitutent = $("#dp-constitutent-title").html();
            if (endday != "" && stages != "" && recycle != "" && constitutent != "Constitutent") {
                $("#water-treatment-graph-dp-title").html("Select Water Treatment Result");
                $("#y2label").attr("text", "");
                var request = 'get-water-treatment-iteration-result/' + location + "/"
                        + constitutent + "/" + endday + "/" + stages + "/" + recycle;
                d3.json(request, function (error, data) {
                    $("#water-treatment-chart").removeClass("hide");
                    init_chart(constitutent, data);
                });
            } else {
                alert("Invalid input");
            }

        });

        $("#dp-constitutent").find("li").click(function () {
            var location = $(this).find("a").html();
            $("#dp-constitutent-title").html(location);
        });

        function init_chart(constitutent, data) {

            var margin = {top: 20, right: 120, bottom: 40, left: 100},
                    width = $(".chart").width() - margin.left - margin.right,
                    height = $(".chart").height() - margin.top - margin.bottom;
            var init_xRange = d3.scale.linear()
                    .domain(d3.extent([0, 0]))
                    .range([0, width]);
            var init_yRange = d3.scale.linear()
                    .domain(d3.extent([0, 0]))
                    .range([height, 0]);
            var xAxis = d3.svg.axis()
                    .scale(init_xRange)
                    .orient("bottom");
            var yAxis = d3.svg.axis()
                    .scale(init_yRange)
                    .orient("left");
            var y2Axis = d3.svg.axis()
                    .scale(init_yRange)
                    .orient("right");
            d3.select("#chart1").select("svg").remove();
            var svg = d3.selectAll(".chart").append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                    .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
            svg.append("g")
                    .attr("class", "x axis")
                    .attr("transform", "translate(0," + height + ")")
                    .call(xAxis);
            svg.append("g")
                    .attr("class", "y axis")
                    .attr("transform", "translate(0, 0)")
                    .attr("id", "y1-axis")
                    .call(yAxis);
            svg.select("#y1-axis")
                    .select("path")
                    .attr("id", "y1-axis-path");
            svg.append("g")
                    .attr("class", "y axis")
                    .attr("transform", "translate(" + width + ", 0)")
                    .attr("id", "y2-axis")
                    .call(y2Axis);
            svg.select("#y2-axis")
                    .select("path")
                    .attr("id", "y2-axis-path");
            var chart1 = d3.select("#chart1").select("g");
            chart1.append("text")
                    .attr("class", "xlabel")
                    .attr("text-anchor", "middle")
                    .attr("x", width / 2)
                    .attr("y", height + margin.bottom - 5)
                    .attr("font-size", 14)
                    .text("Days");
            chart1.append("text")
                    .attr("class", "y1label")
                    .attr("x", 0 - (height / 2))
                    .attr("y", 0 - margin.left + 20)
                    .attr("dy", "1em")
                    .attr("transform", "rotate(-90)")
                    .attr("text-anchor", "middle")
                    .attr("font-size", 14)
                    .attr("fill", "#337AB6")
                    .text(constitutent + " (mg/L)");
            chart1.append("text")
                    .attr("class", "y2label")
                    .attr("x", 0 - (height / 2))
                    .attr("y", width + 50)
                    .attr("dy", "1em")
                    .attr("transform", "rotate(-90)")
                    .attr("text-anchor", "middle")
                    .attr("font-size", 14)
                    .attr("fill", "red")
                    .text("");

            var xRange = d3.scale.linear()
                    .domain([0, d3.max(data, function (d) { return d.day;})])
                    .range([0, width]);
            var y1Range = d3.scale.linear()
                    .domain(d3.extent(data, function (d) { return d.quality;}))
                    .range([height, 0]);
            var xAxis = d3.svg.axis()
                    .scale(xRange)
                    .orient("bottom");
            var y1Axis = d3.svg.axis()
                    .scale(y1Range)
                    .orient("left");
            svg.select(".x.axis").transition().duration(500)
                    .call(xAxis);
            svg.selectAll("#y1-axis").transition().duration(500)
                    .attr("fill", "steelblue")
                    .call(y1Axis);

            var line1_func = d3.svg.line()
                    .x(function (d) {return xRange(d.day);})
                    .y(function (d) {return y1Range(d.quality);})
                    .interpolate("basis");

            var line1 = chart1.append("path")
                    .style("stroke", "blue")
                    .style("stroke-width", "1.5")
                    .style("fill", "transparent")
                    .style("opacity", 0)
                    .attr("class", "line")
                    .attr("id", "line1")
                    .attr("d", line1_func(data));

            line1.transition().duration(500).style("opacity", 1);

            $("#water-treatment-graph-dp-content").find("li").click(function () {
                chart1.selectAll("#line2")
                        .remove();
                var id = $(this).find("a").attr("id");
                var y2 = $(this).find("a").html();
                $("#water-treatment-graph-dp-title").html(y2);
                var y2Range = d3.scale.linear()
                        .domain(d3.extent(data, function (d) { return d[id];}))
                        .range([height, 0]);
                var y2Axis = d3.svg.axis()
                        .scale(y2Range)
                        .orient("right");
                svg.selectAll("#y2-axis").transition().duration(500)
                        .attr("fill", "red")
                        .call(y2Axis);
                var line2_func = d3.svg.line()
                        .x(function (d) {return xRange(d.day);})
                        .y(function (d) {
                            return y2Range(d[id]);
                        })
                        .interpolate("basis");
                var line2 = chart1.append("path")
                        .style("stroke", "red")
                        .style("stroke-width", "1.5")
                        .style("fill", "transparent")
                        .style("opacity", 0)
                        .attr("class", "line")
                        .attr("id", "line2")
                        .attr("d", line2_func(data));
                line2.transition().duration(500).style("opacity", 1);
                $("#y2label").html(y2);
            });
        }

        $(window).on("resize", function () {
            $("svg").each(function () {
                var width = $(this).parent().width();
                $(this).attr("width", width);
            })
        });
    </script>
{% endblock %}