{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/chart.css' %}"/>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="{% static 'js/bootstrap-slider.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-slider.css' %}"/>
{% endblock %}

{% block mainbody %}
    <div class="container">
        <div class="jumbotron">
            <h2>Water Quality Analyzer</h2>

            <p>Water quality is a paramount part of estimating the pertinent treatment required to reuse
                the produced water to a beneficial reuse condition. This modeler will estimate the quality
                of the water being produced, simultaneously addressing the temporal aspects of the changing
                water quality. In laymen terms, this tool helps estimate the incoming water quality of produced
                water with respect to time, in order to plan effective treatment. It models the water quality
                based on historical averages of water quality for any specific dataset.
            </p>
        </div>

        <div class="chart-container" style="width:100%">
            <div class="panel panel-primary chart-panel" id="water-use-analytics">
                <div class="panel-heading chart-heading">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            <span id="dp-title">Locations</span>
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu" id="dp-content">
                        </ul>
                    </div>
                </div>
                <div class="panel-body">

                    <div class="row">

                    </div>
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Fitting Equation</div>
                        <div class="panel-body">
                            <p>
                                WQ = k * ln(t) + d ( Note: Iron = Avg k or Max d)
                            </p>

                            <hr>

                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th class="col-md-2"></th>
                                    <th class="col-md-3 row-head">k</th>
                                    <th class="col-md-3 row-head">d</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="col-head">TDS</td>
                                    <td class="col-body" id="tds-k"></td>
                                    <td class="col-body" id="tds-d"></td>
                                </tr>
                                <tr>
                                    <td class="col-head">Sodium</td>
                                    <td class="col-body" id="sodium-k"></td>
                                    <td class="col-body" id="sodium-d"></td>
                                </tr>
                                <tr>
                                    <td class="col-head">Chloride</td>
                                    <td class="col-body" id="chloride-k"></td>
                                    <td class="col-body" id="chloride-d"></td>
                                </tr>
                                <tr>
                                    <td class="col-head">Calcium</td>
                                    <td class="col-body" id="calcium-k"></td>
                                    <td class="col-body" id="calcium-d"></td>
                                </tr>
                                <tr>
                                    <td class="col-head">Iron</td>
                                    <td class="col-body" id="iron-k"></td>
                                    <td class="col-body" id="iron-d"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Arp's Model</div>
                        <div class="panel-body">
                            <div class="eq-c">
                                <i>q</i>(t) =
                                <div class="fraction">
                                    <span class="fup">Q<sub>0</sub></span>
                                    <span class="bar">/</span>
                                    <span class="fdn">( 1 + D * t ) <i><sup>1/b</sup></i></span>
                                </div>
                            </div>

                            <hr>

                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th class="col-md-2"></th>
                                    <th class="col-md-3 row-head">Fracturing Flowback (1 month)</th>
                                    <th class="col-md-3 row-head">Transition</th>
                                    <th class="col-md-3 row-head">Produced Water</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="col-head">Q<sub>0</sub></td>
                                    <td class="col-body" id="q0-1"></td>
                                    <td class="col-body" id="q0-2"></td>
                                    <td class="col-body" id="q0-3"></td>
                                </tr>
                                <tr>
                                    <td class="col-head">D</td>
                                    <td class="col-body" id="d-1"></td>
                                    <td class="col-body" id="d-2"></td>
                                    <td class="col-body" id="d-3"></td>
                                </tr>
                                <tr>
                                    <td class="col-head">b</td>
                                    <td class="col-body" id="b-1"></td>
                                    <td class="col-body" id="b-2"></td>
                                    <td class="col-body" id="b-3"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary chart-panel" id="water-use-kpis">
                <div class="panel-heading chart-heading">
                    <form class="radio-group row">
                        <label class="radio-inline water-quality-radio">
                            <input type="radio" name="inlineRadioOptions" id="water-quality-radio1"
                                   value="Water used per well">
                            TDS
                        </label>
                        <label class="radio-inline water-quality-radio">
                            <input type="radio" name="inlineRadioOptions" id="water-quality-radio2"
                                   value="Horizontal Length per Well">
                            Chloride
                        </label>
                        <label class="radio-inline water-quality-radio">
                            <input type="radio" name="inlineRadioOptions" id="water-quality-radio3"
                                   value="Water Used per horizontal Foot">
                            Sodium
                        </label>
                        <label class="radio-inline water-quality-radio">
                            <input type="radio" name="inlineRadioOptions" id="water-quality-radio3"
                                   value="Water Used per horizontal Foot">
                            Calcium
                        </label>
                        <label class="radio-inline water-quality-radio">
                            <input type="radio" name="inlineRadioOptions" id="water-quality-radio3"
                                   value="Water Used per horizontal Foot">
                            Iron
                        </label>
                    </form>
                </div>
                <div class="panel-body">

                    <div id="chart1" class="chart" style="width:100%; height:500px">
                    </div>

                </div>

                <div class="panel-footer chart-footer hide" id="chart1-footer">
                    Filter by days interval: <b id="slider-day-start"></b> <input id="water-quality-slider" type="text"
                                                                                  class="span2"/>
                    <b id="slider-day-end"></b>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script type="text/javascript">
        $(document).ready(function () {

            $("#water-quality-slider").slider({});

            d3.json("{% url 'get-water-quality-settings'%}", function (error, data) {
                //dropdown content
                locations = data.locations;
                coefficients = data.coefficients;
                parameters = data.parameters;
                var dp_content = "";
                for (i = 0; i < locations.length; i++) {
                    dp_content = dp_content.concat("<li id=\"dp-")
                            .concat(locations[i])
                            .concat("\"><a>")
                            .concat(locations[i])
                            .concat("</li></a>")
                }
                var dp = $("#dp-content");
                dp.html(dp_content);

                dp.find("li").click(function () {
                    var selected_location = $(this).find("a").html();
                    var selected_coefficients = coefficients[selected_location];
                    var selected_parameters = parameters[selected_location];
                    $("#dp-title").html(selected_location);
                    //coefficients
                    $("#tds-k").html(selected_coefficients["TDS"][0]);
                    $("#tds-d").html(selected_coefficients["TDS"][1]);
                    $("#sodium-k").html(selected_coefficients["Sodium"][0]);
                    $("#sodium-d").html(selected_coefficients["Sodium"][1]);
                    $("#chloride-k").html(selected_coefficients["Chloride"][0]);
                    $("#chloride-d").html(selected_coefficients["Chloride"][1]);
                    $("#calcium-k").html(selected_coefficients["Calcium"][0]);
                    $("#calcium-d").html(selected_coefficients["Calcium"][1]);
                    $("#iron-k").html(selected_coefficients["Iron"][0]);
                    $("#iron-d").html(selected_coefficients["Iron"][1]);
                    //parameters
                    console.log(selected_parameters);
                    $("#q0-1").html(selected_parameters["Fracturing Flowback"]["Q0"]);
                    $("#q0-2").html(selected_parameters["Transition"]["Q0"]);
                    $("#q0-3").html(selected_parameters["Produced Water"]["Q0"]);
                    $("#d-1").html(selected_parameters["Fracturing Flowback"]["D"]);
                    $("#d-2").html(selected_parameters["Transition"]["D"]);
                    $("#d-3").html(selected_parameters["Produced Water"]["D"]);
                    $("#b-1").html(selected_parameters["Fracturing Flowback"]["b"]);
                    $("#b-2").html(selected_parameters["Transition"]["b"]);
                    $("#b-3").html(selected_parameters["Produced Water"]["b"]);

                });

            });

            var margin = {top: 20, right: 70, bottom: 40, left: 110},
                    width = $(".chart").width() - margin.left - margin.right,
                    height = $(".chart").height() - margin.top - margin.bottom;
            var init_xRange = d3.scale.linear()
                    .domain(d3.extent([0, 0]))
                    .range([0, width]);
            var init_yRange = d3.scale.linear()
                    .domain(d3.extent([0, 0]))
                    .range([height, 0]);
            var xAxis = d3.svg.axis()
                    .scale(init_xRange)
                    .orient("bottom");
            var yAxis = d3.svg.axis()
                    .scale(init_yRange)
                    .orient("left");
            var y2Axis = d3.svg.axis()
                    .scale(init_yRange)
                    .orient("right");
            var svg = d3.selectAll(".chart").append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                    .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
            svg.append("g")
                    .attr("class", "x axis")
                    .attr("transform", "translate(0," + height + ")")
                    .call(xAxis);
            svg.append("g")
                    .attr("class", "y axis")
                    .attr("transform", "translate(0, 0)")
                    .attr("id", "y1-axis")
                    .call(yAxis);
            svg.select("#y1-axis")
                    .select("path")
                    .attr("id", "y1-axis-path");
            svg.append("g")
                    .attr("class", "y axis")
                    .attr("transform", "translate(" + width + ", 0)")
                    .attr("id", "y2-axis")
                    .call(y2Axis);
            svg.select("#y2-axis")
                    .select("path")
                    .attr("id", "y2-axis-path");
            var chart1 = d3.select("#chart1").select("g");
            chart1.append("text")
                    .attr("class", "xlabel")
                    .attr("text-anchor", "middle")
                    .attr("x", width / 2)
                    .attr("y", height + margin.bottom - 5)
                    .attr("font-size", 12)
                    .text("Days");
            chart1.append("text")
                    .attr("class", "ylabel")
                    .attr("x", 0 - (height / 2))
                    .attr("y", 0 - margin.left + 20)
                    .attr("dy", "1em")
                    .attr("transform", "rotate(-90)")
                    .attr("text-anchor", "middle")
                    .attr("font-size", 12)
                    .attr("fill", "blue")
                    .text("Volume (bbls)");
        });

        $("#water-quality-radio1").click(function () {
            d3.json("{% url 'get-water-quality-result'%}", function (error, data) {
                console.log(data);
                var margin = {top: 20, right: 70, bottom: 40, left: 110},
                        width = $("#chart1").width() - margin.left - margin.right,
                        height = $("#chart1").height() - margin.top - margin.bottom;
                {#                var xRange = d3.time.scale()#}
                {#                        .domain(d3.extent(data, function (d) { return d.date;}))#}
                {#                        .range([0, width]);#}
                var endday = d3.time.format("%Y-%m-%d").parse(d3.max(data, function (d) {return d.date;}));
                var startday = d3.time.format("%Y-%m-%d").parse(d3.min(data, function (d) {return d.date;}));
                var interval = endday - startday;
                var interval_day = interval / (24 * 3600 * 1000);
                $("#chart1-footer").removeClass("hide");
                $("#slider-day-start").html(1);
                $("#slider-day-end").html(interval_day+1);
                var xRange = d3.scale.linear()
                        .domain([0, interval_day + 1])
                        .range([0, width]);
                console.log(d3.extent(data, function (d) { return d.date;}));
                var y1Range = d3.scale.linear()
                        .domain([0, d3.max(data, function (d) { return d.Volume;})])
                        .range([height, 0]);
                var y2Range = d3.scale.linear()
                        .domain(d3.extent(data, function (d) { return d.TDS;}))
                        .range([height, 0]);
                var xAxis = d3.svg.axis()
                        .scale(xRange)
                        .orient("bottom");
                var y1Axis = d3.svg.axis()
                        .scale(y1Range)
                        .orient("left");
                var y2Axis = d3.svg.axis()
                        .scale(y2Range)
                        .orient("right");
                var svg = d3.select("#chart1").select("svg");
                var chart = svg.select("g");
                svg.select(".x.axis").transition().duration(500)
                        .call(xAxis);
                svg.selectAll("#y1-axis").transition().duration(500)
                        .attr("fill", "blue")
                        .call(y1Axis);
                svg.selectAll("#y2-axis").transition().duration(500)
                        .attr("fill", "red")
                        .call(y2Axis);
                svg.selectAll("#y1-axis").selectAll("line")
                        .attr("id", "y1-axis-ticks");
                svg.selectAll("#y2-axis").selectAll("line")
                        .attr("id", "y2-axis-ticks");
                {#                var dot = chart.append("g").attr("class", "plot")#}
                {#                        .selectAll(".dot")#}
                {#                        .data(data)#}
                {#                        .enter().append("circle")#}
                {#                        .attr("class", "dot")#}
                {#                        .attr("r", 2)#}
                {#                        .attr("cx", function (d) {#}
                {#                            return xRange((d3.time.format("%Y-%m-%d").parse(d.date) - minday)#}
                {#                                    / (24 * 3600 * 1000) + 1);#}
                {#                        })#}
                {#                        .attr("cy", function (d) {return y2Range(d.TDS);})#}
                {#                        .style("stroke", "black");#}
                var line1_func = d3.svg.line()
                        .x(function (d) {
                            return xRange((d3.time.format("%Y-%m-%d").parse(d.date) - startday)
                                    / (24 * 3600 * 1000) + 1);
                        })
                        .y(function (d) {return y1Range(d.Volume);})
                        .interpolate("basis");
                var line1 = chart.append("path")
                        .style("stroke", "blue")
                        .style("fill", "transparent")
                        .attr("class", "line")
                        .attr("d", line1_func(data));

                var line2_func = d3.svg.line()
                        .x(function (d) {
                            return xRange((d3.time.format("%Y-%m-%d").parse(d.date) - startday)
                                    / (24 * 3600 * 1000) + 1);
                        })
                        .y(function (d) {return y2Range(d.TDS);})
                        .interpolate("basis");
                var line2 = chart.append("path")
                        .style("stroke", "red")
                        .style("fill", "transparent")
                        .attr("class", "line")
                        .attr("d", line2_func(data));

            });

        })
    </script>
{% endblock %}