{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/chart.css' %}"/>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
{% endblock %}

{% block mainbody %}
    <div class="container">
        <div class="jumbotron">
            <h2>Water Use Analyzer</h2>

            <p>This analyzer is an interactive tool designed to fit the user, in this case,
                an operator or a water management company to anlayze their statistics of water,
                current and historical to establish a baseline and a trend to improve their water
                use scenarios significantly. This tool also provides the user to look at
                Key Performance Indicators (KPIs) such as average horizontal length drilled,
                average water used per well and bbls water used per horizontal foot,
                on an annual comparison basis. </p>
        </div>

        <h3>Horizontal Wells</h3>

        <div id="table-container">
            {% include 'solutions/partial/water-use-table.html' %}
        </div>

        <hr>

        <div>
            {{ data }}
        </div>

        <div class="chart-container" style="width:100%">
            <div class="panel panel-primary chart-panel" id="water-use-analytics">
                <div class="panel-heading chart-heading">
                    Analytics
                </div>
                <div class="panel-body">
                    <form class="radio-group">
                        <div class="col-md-3">
                            <label class="radio-inline solution-radio additional-info-button">
                                <input type="radio" name="inlineRadioOptions" id="water-use-analytics-radio-1"
                                       value="Water used per well">
                                Water used per well
                            </label>
                        </div>
                        <div class="col-md-5">
                            <label class="radio-inline solution-radio">
                                <input type="radio" name="inlineRadioOptions" id="water-use-analytics-radio-2"
                                       value="Horizontal Length per Well">
                                Horizontal Length per Well
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="radio-inline solution-radio">
                                <input type="radio" name="inlineRadioOptions" id="water-use-analytics-radio-3"
                                       value="Water Used per horizontal Foot">
                                Water Used per horizontal Foot
                            </label>
                        </div>
                    </form>


                    <div id="chart1" class="chart" style="width:100%; height:500px">
                    </div>


                </div>
                <div class="panel-footer chart-footer">
                    Statistics & Estimation:
                    <div>
                        <div class="col-md-2 label label-primary ">
                            Mean (bbls):
                        </div>
                        <div class="col-md-1 output output-mean">
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-2 label label-primary">
                            Standard Deviation:
                        </div>
                        <div class="col-md-4 output output-std">
                        </div>
                    </div>
                    <br>

                    <form class="form-inline additional-info hide" id="chart1-form">
                            <span class="label label-primary label-form">
                                Water Used per Well Mean (bbls):
                            </span>
                        <span class="output output-mean">
                        </span>
                        &nbsp;X&nbsp;
                        <input type="text" id="Well_number" name="Well_number"
                               placeholder="Well Number"
                               class="form-control">
                        <button type="button" class="btn cal-button btn-sm" id="chart1-cal-button">
                            <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                        </button>
                        <span class="output output-result">
                        </span>
                    </form>
                </div>

            </div>

            <div class="panel panel-primary chart-panel" id="water-use-kpis">
                <div class="panel-heading chart-heading">
                    KPIs
                </div>
                <div class="panel-body">
                    <form class="radio-group">
                        <div class="col-md-4">
                            <label class="radio-inline solution-radio additional-info-button">
                                <input type="radio" name="inlineRadioOptions" id="water-use-kpis-radio1"
                                       value="Water used per well">
                                Annual Average Water Use per Well
                            </label>
                        </div>
                        <div class="col-md-5">
                            <label class="radio-inline solution-radio">
                                <input type="radio" name="inlineRadioOptions" id="water-use-kpis-radio2"
                                       value="Horizontal Length per Well">
                                Annual Average Horizontal Feet Drilled
                            </label>
                        </div>
                        <div class="col-md-3">
                            <label class="radio-inline solution-radio">
                                <input type="radio" name="inlineRadioOptions" id="water-use-kpis-radio3"
                                       value="Water Used per horizontal Foot">
                                Annual bbls/ft Metric
                            </label>
                        </div>
                    </form>

                    <div id="chart2" class="chart" style="width:100%; height:500px">
                    </div>

                </div>

            </div>

            <div class="panel panel-primary chart-panel" id="water-use-relationships">
                <div class="panel-heading chart-heading">
                    Relationships
                </div>
                <div class="panel-body">
                    <form class="radio-group">
                        <div class="col-md-4">
                            <label class="radio-inline solution-radio additional-info-button">
                                <input type="radio" name="inlineRadioOptions" id="water-use-relationships-radio1"
                                       value="Water used per well">
                                Linear
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="radio-inline solution-radio">
                                <input type="radio" name="inlineRadioOptions" id="water-use-relationships-radio2"
                                       value="Horizontal Length per Well">
                                Quadratic
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="radio-inline solution-radio">
                                <input type="radio" name="inlineRadioOptions" id="water-use-relationships-radio3"
                                       value="Water Used per horizontal Foot">
                                Qubic
                            </label>
                        </div>
                    </form>

                    <div id="chart3" class="chart" style="width:100%; height:500px">
                    </div>

                </div>
                <div class="panel-footer chart-footer">
                    Coefficients & Function:
                    <span class="chart-footer info">&nbsp;&nbsp;Accuracy: {{ accuracy }}, RMSE: {{ RMSE }}, {{ conclusion }}</span>

                    <div>
                        <div class="label label-primary ">
                            Function: {{ Mean }}
                        </div>
                    </div>

                </div>
            </div>

            <hr/>
        </div>

    </div>
{% endblock %}

{% block footer %}
    <script type="text/javascript">
        // draw the base graph first, then load data when needed
        $(document).ready(function () {
            var margin = {top: 20, right: 30, bottom: 40, left: 70},
                    width = $(".chart").width() - margin.left - margin.right,
                    height = $(".chart").height() - margin.top - margin.bottom;
            var init_xRange = d3.scale.linear()
                    .domain(d3.extent([0, 0]))
                    .range([0, width]);
            var init_yRange = d3.scale.linear()
                    .domain(d3.extent([0, 0]))
                    .range([height, 0]);
            var xAxis = d3.svg.axis()
                    .scale(init_xRange)
                    .orient("bottom");
            var yAxis = d3.svg.axis()
                    .scale(init_yRange)
                    .orient("left");
            var svg = d3.selectAll(".chart").append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                    .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
            svg.append("g")
                    .attr("class", "x axis")
                    .attr("transform", "translate(0," + height + ")")
                    .call(xAxis);
            svg.append("g")
                    .attr("class", "y axis")
                    .attr("transform", "translate(0, 0)")
                    .call(yAxis);
            var chart1 = d3.select("#chart1").select("g");
            chart1.append("text")
                    .attr("class", "xlabel")
                    .attr("text-anchor", "middle")
                    .attr("x", width / 2)
                    .attr("y", height + margin.bottom - 5)
                    .attr("font-size", 12);
            chart1.append("text")
                    .attr("class", "ylabel")
                    .attr("x", 0 - (height / 2))
                    .attr("y", 0 - margin.left + 20)
                    .attr("dy", "1em")
                    .attr("transform", "rotate(-90)")
                    .attr("text-anchor", "middle")
                    .attr("font-size", 12)
                    .text("Number of Wells");
            var chart2 = d3.select("#chart2").select("g");
            chart2.append("text")
                    .attr("class", "xlabel")
                    .attr("text-anchor", "middle")
                    .attr("x", width / 2)
                    .attr("y", height + margin.bottom - 5)
                    .attr("font-size", 12)
                    .text("Year");
            chart2.append("text")
                    .attr("class", "ylabel")
                    .attr("x", 0 - (height / 2))
                    .attr("y", 0 - margin.left)
                    .attr("dy", "1em")
                    .attr("transform", "rotate(-90)")
                    .attr("text-anchor", "middle")
                    .attr("font-size", 12);
            var chart3 = d3.select("#chart3").select("g");
            chart3.append("text")
                    .attr("class", "xlabel")
                    .attr("text-anchor", "middle")
                    .attr("x", width / 2)
                    .attr("y", height + margin.bottom - 5)
                    .attr("font-size", 12)
                    .text("The length of Horizontal Well (ft)");
            chart3.append("text")
                    .attr("class", "ylabel")
                    .attr("x", 0 - (height / 2))
                    .attr("y", 0 - margin.left)
                    .attr("dy", "1em")
                    .attr("transform", "rotate(-90)")
                    .attr("text-anchor", "middle")
                    .attr("font-size", 12)
                    .text("Water Use (bbls)");
        });
        function draw_chart1(data, data_name, xlabel) {
            var margin = {top: 20, right: 30, bottom: 40, left: 50},
                    width = $("#chart1").width() - margin.left - margin.right,
                    height = $("#chart1").height() - margin.top - margin.bottom;
            // data
            values = data[data_name];
            //chart
            var xRange = d3.scale.linear()
                    .domain(d3.extent(values, function (d) { return d; }))
                    .range([0, width]);
            var data = d3.layout.histogram()
                    .bins(xRange.ticks(15))(values);
            var yRange = d3.scale.linear()
                    .domain([0, d3.max(data, function (d) { return d.y; })])
                    .range([height, 0]);
            var xAxis = d3.svg.axis()
                    .scale(xRange)
                    .orient("bottom");
            var yAxis = d3.svg.axis()
                    .scale(yRange)
                    .orient("left");
            var svg = d3.select("#chart1").select("svg");
            var chart = svg.select("g");
            svg.selectAll(".x.axis").transition().duration(500)
                    .call(xAxis);
            svg.selectAll(".y.axis").transition().duration(500)
                    .call(yAxis);
            chart.select('.xlabel').text(xlabel);
            chart.selectAll(".bar")
                    .remove();
            // set up the bars and text
            var bar = chart.selectAll(".bar")
                    .data(data)
                    .enter()
                    .append("g")
                    .attr("class", "bar")
                    .attr("transform", function (d) { return "translate(" + xRange(d.x) + "," + 0 + ")";});
            bar.append("rect")
                    .attr("x", 1)
                    .attr("y", height)
                    .attr("fill", "steelblue")
                    .attr("width", xRange(data[1].x) - xRange(data[0].x) - 1)
                    .attr("height", 0);
            // transition effect
            bar.selectAll("rect")
                    .transition()
                    .duration(500)
                    .attr("y", function (d) {return yRange(d.y);})
                    .attr("height", function (d) { return height - yRange(d.y); });
            bar.selectAll("rect")
                    .on("mouseover", function () { d3.select(this).attr("fill", "green"); })
                    .on("mouseout", function () { d3.select(this).attr("fill", "steelblue"); });
            bar.append("text")
                    .attr("dy", "0.75em")
                    .attr("y", height - 10)
                    .attr("x", xRange(data[1].x) / 2 - xRange(data[0].x) / 2 - 1)
                    .style("fill", "black")
                    .attr("text-anchor", "middle")
                    .text(function (d) { return d.y; });
            bar.selectAll("text")
                    .transition()
                    .duration(500)
                    .attr("y", function (d) {return yRange(d.y) - 10;})
        }
        function update_chart1_footer(data, mean_str, std_str) {
            var mean = data[mean_str];
            var std = data[std_str];
            $(".output-mean").text(mean);
            $(".output-std").text(std);
        }
        // histogram-1
        $("#water-use-analytics-radio-1").click(function () {
            // if the button is already in clicked status, do nothing
            if ($(this).parent().hasClass("checked")) {
                return;
            }
            // else redraw the diagram
            d3.json("{% url 'get-water-use'%}", function (error, data) {
                draw_chart1(data, "water_use", "Water Used per Well(bbls)");
                update_chart1_footer(data, "water_use_mean", "water_use_std");
            });
        });
        // histogram-2
        $("#water-use-analytics-radio-2").click(function () {
            // if the button is already in clicked status, do nothing
            if ($(this).parent().hasClass("checked")) {
                return;
            }
            // else redraw the diagram
            d3.json("{% url 'get-horizontal-length'%}", function (error, data) {
                draw_chart1(data, "horizontal_length", "Horizontal Length per Well(ft)");
                update_chart1_footer(data, "horizontal_length_mean", "horizontal_length_std");
            });
        });
        // histogram-3
        $("#water-use-analytics-radio-3").click(function () {
            // if the button is already in clicked status, do nothing
            if ($(this).parent().hasClass("checked")) {
                return;
            }
            // else redraw the diagram
            d3.json("{% url 'get-water-use-per-horizontal-foot'%}", function (error, data) {
                draw_chart1(data, "water_use_per_horizontal_foot", "Water Used per Horizontal Foot(bbls/ft)");
                update_chart1_footer(data, "water_use_per_horizontal_foot_mean", "water_use_per_horizontal_foot_std");
            });
        });
        $(window).on("resize", function () {
            $("svg").each(function () {
                var width = $(this).parent().width();
                $(this).attr("width", width);
            })
        });
        function is_Int(value) {
            return !!((parseFloat(value) == parseInt(value)) && !isNaN(value));
        }
        $("#chart1-cal-button").click(function () {
            var input = $(this).closest('.additional-info').find('#Well_number').val();
            var mean = $(this).closest('.additional-info').find('.output-mean').text();
            var result = $(this).closest('.additional-info').find('.output-result');
            if (is_Int(input)) {
                result.removeClass('output-error');
                result.text((mean * input).toFixed(2));
            } else {
                result.addClass('output-error');
                result.text('Please input an integer number')
            }
        });
        function draw_chart2(data, ylabel) {
            var margin = {top: 20, right: 30, bottom: 40, left: 50},
                    width = $("#chart2").width() - margin.left - margin.right,
                    height = $("#chart2").height() - margin.top - margin.bottom;
            var xRange = d3.scale.ordinal()
                    .domain(data.map(function (d) {return d.year;}))
                    .rangeRoundBands([0, width], .5);
            var yRange = d3.scale.linear()
                    .domain([0, 1.2 * d3.max(data, function (d) {return d.mean;})])
                    .range([height, 0]);
            var xAxis = d3.svg.axis()
                    .scale(xRange)
                    .orient("bottom");
            var yAxis = d3.svg.axis()
                    .scale(yRange)
                    .orient("left");
            var svg = d3.select("#chart2").select("svg");
            var chart = svg.select("g");
            svg.selectAll(".x.axis").transition().duration(500)
                    .call(xAxis);
            svg.selectAll(".y.axis").transition().duration(500)
                    .call(yAxis);
            chart.select('.ylabel').text(ylabel).attr("fill", "white");
            chart.select('.ylabel').transition().duration(500).attr("fill", "black");
            chart.selectAll(".bar")
                    .remove();
            // set up the bars and text
            var bar = chart.selectAll(".bar")
                    .data(data)
                    .enter()
                    .append("g")
                    .attr("class", "bar");
            bar.append("rect")
                    .attr("x", function (d) {return xRange(d.year)})
                    .attr("width", xRange.rangeBand())
                    .attr("y", height)
                    .attr("height", 0)
                    .attr("fill", "steelblue");
            bar.selectAll("rect")
                    .transition()
                    .duration(500)
                    .attr("y", function (d) {return yRange(d.mean)})
                    .attr("height", function (d) {return height - yRange(d.mean)});
            bar.selectAll("rect")
                    .on("mouseover", function () { d3.select(this).attr("fill", "green"); })
                    .on("mouseout", function () { d3.select(this).attr("fill", "steelblue"); });
            bar.append("text")
                    .attr("dy", "0.75em")
                    .attr("y", height - 10)
                    .attr("x", function (d) {return xRange(d.year) + xRange.rangeBand() / 2;})
                    .attr("text-anchor", "middle")
                    .style("fill", "black")
                    .text(function (d) { return d.mean; });
            bar.selectAll("text")
                    .transition()
                    .duration(500)
                    .attr("y", function (d) {return yRange(d.mean) - 10});
        }
        $("#water-use-kpis-radio1").click(function () {
            if ($(this).parent().hasClass("checked")) {
                return;
            }
            d3.json("{% url 'get-annual-water' %}", function (error, data) {
                draw_chart2(data, "Annual Average Water User per Well(bbls)");
            });
        });
        $("#water-use-kpis-radio2").click(function () {
            if ($(this).parent().hasClass("checked")) {
                return;
            }
            d3.json("{% url 'get-annual-horizontal-feet-drilled' %}", function (error, data) {
                draw_chart2(data, "Annual Average Horizontal Feet Drilled(ft)");
            });
        });
        $("#water-use-kpis-radio3").click(function () {
            if ($(this).parent().hasClass("checked")) {
                return;
            }
            d3.json("{% url 'get-annual-bbls-ft-metric' %}", function (error, data) {
                draw_chart2(data, "Annual bbls/ft Metric");
            });
        });
        function draw_chart3(data, option) {
            var vals = data["data"];
            {#            vals.sort(function (a, b) {#}
            {#                return a.horizontal_length - b.horizontal_length;#}
            {#            });#}
            console.log(vals);
            var margin = {top: 20, right: 30, bottom: 40, left: 70},
                    width = $("#chart3").width() - margin.left - margin.right,
                    height = $("#chart3").height() - margin.top - margin.bottom;
            var xRange = d3.scale.linear()
                    .domain([0, d3.max(vals, function (d) { return d.horizontal_length;})])
                    .range([0, width]);
            var yRange = d3.scale.linear()
                    .domain([0, d3.max(vals, function (d) { return d.water_use;})])
                    .range([height, 0]);
            var xAxis = d3.svg.axis()
                    .scale(xRange)
                    .orient("bottom");
            var yAxis = d3.svg.axis()
                    .scale(yRange)
                    .orient("left");
            var svg = d3.select("#chart3").select("svg");
            var chart = svg.select("g");
            svg.selectAll(".x.axis").transition().duration(500)
                    .call(xAxis);
            svg.selectAll(".y.axis").transition().duration(500)
                    .call(yAxis);
            chart.selectAll(".plot")
                    .remove();
            chart.selectAll("line")
                    .remove();
            chart.select(".line")
                    .remove();
            var dot = chart.append("g").attr("class", "plot")
                    .selectAll(".dot")
                    .data(vals)
                    .enter().append("circle")
                    .attr("class", "dot")
                    .attr("r", 2)
                    .attr("cx", function (d) {return xRange(d.horizontal_length);})
                    .attr("cy", function (d) {return yRange(d.water_use);})
                    .style("fill", "white");
            dot.transition().duration(500).style("fill", "steelblue");
            if (option == "linear") {
                var line = chart.append("line")
                        .style("stroke", "#CE5B56")
                        .style("stroke-width", "2.5")
                        .style("opacity", "0")
                        .attr("x1", xRange(d3.min(vals, function (d) {return d.horizontal_length;})))
                        .attr("y1", yRange(d3.min(vals, function (d) {return d.fitted_water_use;})))
                        .attr("x2", xRange(d3.max(vals, function (d) {return d.horizontal_length;})))
                        .attr("y2", yRange(d3.max(vals, function (d) {return d.fitted_water_use;})));
                line.transition().duration(500).delay(300).style("opacity", "1");
            } else {
                var line_func = d3.svg.line()
                        .x(function (d) {return xRange(d.horizontal_length);})
                        .y(function (d) {return yRange(d.fitted_water_use);})
                        .interpolate("linear");
                var color;
                if (option == "quadratic") {
                    color = "#9956B0"
                } else if (option == "cubic") {
                    color = "#23B05C"
                }
                var line2 = chart.append("path")
                        .style("fill", color)
                        .style("opacity", 0)
                        .attr("class", "line")
                        .attr("d", line_func(vals));
                line2.transition().duration(500).delay(300).style("opacity", 1);
            }
        }
        $("#water-use-relationships-radio1").click(function () {
            d3.json("{% url 'get-linear-fitting' %}", function (error, data) {
                draw_chart3(data, "linear")
            });
        });
        $("#water-use-relationships-radio2").click(function () {
            d3.json("{% url 'get-quadratic-fitting' %}", function (error, data) {
                draw_chart3(data, "quadratic")
            });
        });
        $("#water-use-relationships-radio3").click(function () {
            d3.json("{% url 'get-quadratic-fitting' %}", function (error, data) {
                draw_chart3(data, "cubic")
            });
        });
        $(".chart-footer.info").addClass('hide');
    </script>
    <script src="{% static 'js/radio_button.js' %}"></script>

{% endblock %}
