{% extends "base.html" %}
{% load staticfiles %}
{% block header %}
    {#    <link class="new_added" rel="stylesheet" type="text/css" href="{% static 'css/screen.css' %}"/>#}
{% endblock %}
{% block mainbody %}
    <!-- BODY -->
    <main class="cd-main">
        <section class="cd-section index visible">
            <div class="cd-content" id="index-content">

                <div id="page">
                    <section>
                        <div id="viewport-shadow">
                            {#                            <a href="#" id="prev" title="go to the next slide"></a>#}
                            {#                            <a href="#" id="next" title="go to the next slide"></a>#}

                            <div id="viewport">
                                <div id="box">
                                    <figure class="slide" style="z-index: 1"><img
                                            src="{% static 'img/slider-1-1.jpg' %}"></figure>
                                    <figure class="slide"><img src="{% static 'img/slider-2-1.jpg' %}"></figure>
                                    <figure class="slide"><img src="{% static 'img/slider-3-1.jpg' %}"></figure>
                                    <figure class="slide"><img src="{% static 'img/slider-4-1.jpg' %}"></figure>
                                    <figure class="slide"><img src="{% static 'img/slider-5-1.jpg' %}"></figure>
                                </div>
                            </div>
                        </div>
                        <footer>
                            <nav class="slider-controls">
                                <ul id="controls">
                                    <li><a class="goto-slide current" href="#" data-slideindex="0"></a></li>
                                    <li><a class="goto-slide" href="#" data-slideindex="1"></a></li>
                                    <li><a class="goto-slide" href="#" data-slideindex="2"></a></li>
                                    <li><a class="goto-slide" href="#" data-slideindex="3"></a></li>
                                    <li><a class="goto-slide" href="#" data-slideindex="4"></a></li>
                                </ul>
                            </nav>
                        </footer>
                    </section>
                </div>

                <div class="bloc  l-bloc" id="bloc-1">
                    <div class="container bloc-lg">
                        <div>
                            <h3 class="text-center">What is VODA?</h3>

                            <p style="font-size:18px" align="justify">
                                VODA is an oilfield water management program designed for the oil and gas
                                operators for
                                effectively managing their day-to-day water management operations. It has been
                                targeted
                                to help operators improve their water management while simultanrously mitigating
                                environmental
                                impacts, while addressing the overall goal, which would be to comprehensively
                                reduce
                                fresh
                                water
                                use, optimize produced water recycling, minimizing truck traffic and other
                                potential
                                environmental
                                and community concerns. It is based on a Desktop-to-Drill Site (D2D) Platform
                                currently
                                being
                                developed by the CEWS.
                            </p>
                        </div>
                        <hr class="featurette-divider">
                        <div>
                            <h3 class="text-center">Scientific Water Management</h3>

                            <p style="font-size:18px" align="justify">
                                Oilfield water is managed in a scientific way. Here provides two ways for the
                                water
                                management -
                                the traditional
                                way based on the mathematical modeling, statitical analysis and charting, as
                                well as a
                                modern
                                way based on geoanalytical techniques.
                            </p>
                        </div>

                        <div class="row" style="margin-top:30px;">
                            <div class="col-md-6 portfolio-item">
                                <img class="img-responsive" src="{% static 'img/home-solutions.jpg' %}" alt="">

                                <h3>
                                    <a href="{% url 'solutions' %}">Mathematics and Statistics based
                                        Solutions</a>
                                </h3>

                                <p>
                                    Here we design many statistical and mathematical methods used for oilfield
                                    water
                                    management.
                                    Statistical analysis, mathematical modeling are based on powerful scientific
                                    computation
                                    packages
                                    - <a href="http://www.scipy.org/"
                                         style="text-decoration: underline; color: blue"
                                         target="_blank">Scipy</a>
                                    and <a href="http://www.numpy.org/"
                                           style="text-decoration: underline; color: blue"
                                           target="_blank">Numpy</a>.
                                </p>
                            </div>
                            <div class="col-md-6 portfolio-item">
                                <img class="img-responsive" src="{% static 'img/home-geoanalytics.jpg' %}"
                                     alt="">

                                <h3>
                                    <a href="{% url 'geoanalytics' %}">Geographic Information Science based
                                        Solutions</a>
                                </h3>

                                <p>GIS provides an new way to tell the story behind the spatial data. It also
                                    help to
                                    visualize
                                    the data.
                                    Here we use <a href="https://developers.arcgis.com/javascript/"
                                                   style="text-decoration: underline; color: blue"
                                                   target="_blank">
                                        Arcgis API for javascript</a>
                                    and <a href="https://www.arcgis.com/home/"
                                           style="text-decoration: underline; color: blue"
                                           target="_blank">
                                        ArcGIS Online</a> to support the geospatial analysis</p>
                            </div>
                        </div>
                        <hr class="featurette-divider">
                    </div>
                </div>
            </div>
            {% include "layout/footer.html" %}
        </section>
    </main>

    <!-- BODY END -->
{% endblock %}

{% block footer %}
    <script src="{% static 'js/box-slider-all.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            var $box = $('#box')
                    , $indicators = $('.goto-slide')
                    , $effects = $('.effect')
                    , $timeIndicator = $('#time-indicator')
                    , slideInterval = 2000;

            var switchIndicator = function ($c, $n, currIndex, nextIndex) {
                $timeIndicator.stop().css('width', 0);
                $indicators.removeClass('current').eq(nextIndex).addClass('current');
            };

            // initialize the plugin with the desired settings
            $box.boxSlider({
                speed: 1000
                , autoScroll: true
                , timeout: slideInterval
                , next: '#next'
                , prev: '#prev'
                , pause: '#pause'
                , effect: 'scrollVert3d'
                , blindCount: 15
                , onbefore: switchIndicator
            });


            // pagination isn't built in simply because it's easy to
            // roll your own with the plugin API methods
            $('#controls').on('click', '.goto-slide', function (ev) {
                $box.boxSlider('showSlide', $(this).data('slideindex'));
                ev.preventDefault();
            });

            var window_width = $('#viewport-shadow').width();
            {#            $('#viewport').css('width', window_width);#}
            $('#viewport').each(function () {
                console.log($(this).width());
                console.log($('#viewport-shadow').width());
                $(this).css('zoom', window_width * 100 / $(this).width() + "%");
                $(this).css('left', 0);
            });
        });
    </script>

{% endblock %}