{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
    <!--- Import jointjs --->
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jointjs/0.9.0/joint.min.js" charset="utf-8"></script>#}
    <script src="{% static 'js/joint.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jointjs/0.9.0/joint.min.css">

{% endblock %}

{% block mainbody %}
    <div id="chart-container">
        <div id="flowchart"></div>
    </div>
{% endblock %}

{% block footer %}
    <script id="text/javascript">
        var graph = new joint.dia.Graph;

        var paper = new joint.dia.Paper({
            el: $('#flowchart'),
            width: 1150,
            height: 600,
            model: graph,
            gridSize: 1,
            interactive: false
        });

        joint.shapes.custom = {};

        joint.shapes.custom.ElementLink = joint.shapes.basic.Rect.extend({
            markup: '<a><g class="rotatable"><g class="scalable"><rect/></g><text/></g></a>',
            defaults: joint.util.deepSupplement({
                type: 'custom.ElementLink'
            }, joint.shapes.basic.Rect.prototype.defaults)
        });

        var rect_1 = new joint.shapes.custom.ElementLink({
            position: {x: 0, y: 100},
            size: {width: 160, height: 80},
            attrs: {
                rect: {fill: '#2D69A6'},
                a: {'xlink:href': 'water-use-analyzer/demo/', 'xlink:show': 'new', cursor: 'pointer'},
                text: {text: 'Fresh Water\n   Source', fill: 'white', 'font-size': 22}
            }
        });

        var rect_2 = rect_1.clone();
        rect_2.translate(240, 160);
        rect_2.attr({
            text: {text: '  Drilling/\nFracturing'}
        });

        var rect_3 = rect_1.clone();
        rect_3.translate(0, 320);
        rect_3.attr({
            text: {text: ' Alternative\nSurface Use'}
        });

        var rect_4 = rect_2.clone();
        rect_4.translate(340);
        rect_4.attr({
            text: {text: '    Produced\nWater Storage'}
        });

        var rect_5 = rect_3.clone();
        rect_5.translate(420);
        rect_5.attr({
            text: {text: 'Treatment'}
        });

        var rect_6 = rect_4.clone();
        rect_6.translate(400);
        rect_6.attr({
            text: {text: 'Disposal'}
        });

        var link_1_2 = new joint.dia.Link({
            source: {x: 80, y: 180},
            target: {x: 240, y: 300},
            vertices: [{x: 80, y: 300}],
            attrs: {
                '.marker-target': {d: 'M 10 0 L 0 5 L 10 10 z'}
            }
        });

        var link_2_4 = new joint.dia.Link({
            source: {x: 400, y: 300},
            target: {x: 580, y: 300},
            attrs: {
                '.marker-target': {d: 'M 10 0 L 0 5 L 10 10 z'}
            },
            labels: [
                {
                    position: .5,
                    attrs: {
                        text: {text: 'V<sub>produce</sub>', fill: 'black'}
                    }
                }
            ]
        });

        var link_4_5 = new joint.dia.Link({
            source: {x: 660, y: 340},
            target: {x: 580, y: 460},
            vertices: [{x: 660, y: 460}],
            attrs: {
                '.marker-target': {d: 'M 10 0 L 0 5 L 10 10 z'}
            }

        });

        var link_4_6 = new joint.dia.Link({
            source: {x: 740, y: 300},
            target: {x: 980, y: 300},
            attrs: {
                '.marker-target': {d: 'M 10 0 L 0 5 L 10 10 z'}
            }
        });

        var link_5_3 = new joint.dia.Link({
            source: {x: 420, y: 460},
            target: {x: 160, y: 460},
            attrs: {
                '.marker-target': {d: 'M 10 0 L 0 5 L 10 10 z'}
            }
        });

        var link_5_2 = new joint.dia.Link({
            source: {x: 420, y: 460},
            target: {x: 240, y: 300},
            vertices: [{x: 380, y: 460}, {x: 380, y: 400}, {x: 80, y: 400}, {x: 80, y: 300}],
            attrs: {
                '.marker-target': {d: 'M 10 0 L 0 5 L 10 10 z'}
            }
        });

        graph.addCells([rect_1, rect_2, rect_3, rect_4, rect_5, rect_6, link_1_2, link_2_4, link_4_5, link_4_6,
            link_5_3, link_5_2]);

        $('.label').each(function () {
            var $this = $(this);
            var t = $this.text();
            alert(t);
            $this.html(t.replaceWith('produce', 'a'));
        });
    </script>
{% endblock %}