{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
    <!--- Import jointjs --->
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/jointjs/0.9.0/joint.min.js" charset="utf-8"></script>#}
    <script src="{% static 'js/joint.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jointjs/0.9.0/joint.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/powertip/jquery.powertip-light.css' %}">
    <script src="{% static 'js/jquery.powertip.js' %}"></script>
{% endblock %}

{% block mainbody %}
    <div class="header-bloc" class="row">
        <div class="jumbotron">
            <div class="container">
                <h2>Solutions</h2>
                <p>
                    Water Management is an enormous operation when you consider each and every significant phase 
                    involved in an upstream process. There is input, output, treatment, and reuse which can all 
                    be done more crucially with an ever helpful oversight. This way the wastes involved, costs 
                    involved and the footprint can be reduced even more. The graphic below explains why and what 
                    our solution provides the operator with. 
                </p>
            </div>
        </div>
    </div>
    
    <div class="bloc  l-bloc" id="bloc-2">
        <div class="container bloc-lg">
            <div class="row col-md-3 title" >
                <p>The Big Picture</p>
            </div>
            
            <div id="chart-container">
                <div id="flowchart"></div>
            </div>
            
            <div class="row col-md-3 title" style="height:50px">
                <p>Tools</p>
            </div>
            
            <hr class="featurette-divider">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="mg-md">
                        <a href="{% url 'water-use-geoanalyzer' %}">Water User Analyzer</a>
                    </h3>
                    <p>
                        This modeler is an interactive tool designed to model water production trends based on historical data,
                        giving the user a temporal edge of analyzing how much water was produced over a specific amount of time,
                        and how the user could imperatively plan the amount of water to be handled on a particular day. It has
                        been strategically designed to estimate time based production of water based on trends fitted to the well
                        known Arp's Equation for modeling produced water.  Not only does it calculate the water to be produced
                        on a particular day, it also seamless integrates the numbers to estimate  average water production volumes
                        for a particular time frame, as specified by the user.
                    </p>
                    <p>
                        <button type="button" class="btn btn-default">Try the demo &raquo;</button>
                    </p>
                </div>
                <div class="col-sm-6">
                    <a href="{% url 'water-use-geoanalyzer' %}"><img src="{% static 'img/placeholder-image.png' %}" class="img-responsive" alt=''/></a>
                </div>
            </div>
        
            <hr class="featurette-divider">
            
            <div class="row">
                <div class="col-sm-6">
                    <a href="{% url 'water-use-heatmapper' %}"><img src="{% static 'img/placeholder-image.png' %}" class="img-responsive" alt=''/></a>
                </div>
                <div class="col-sm-6">
                    <h3 class="mg-md">
                        <a href="{% url 'water-use-heatmapper' %}">Produced Water Modeler</a><br/><a href="{% url 'water-use-heatmapper' %}"></a>
                    </h3>
                    <p>
                        This analyzer is an interactive tool designed to fit the user, in this case,
                        an operator or a water management company to anlayze their statistics of water,
                        current and historical to establish a baseline and a trend to improve their water
                        use scenarios significantly. This tool also provides the user to look at
                        Key Performance Indicators (KPIs) such as average horizontal length drilled,
                        average water used per well and bbls water used per horizontal foot,
                        on an annual comparison basis.
                    </p>
                    <p>
                        <a class="btn btn-default" href="{% url 'water-use-heatmapper' %}" role="button">Try the demo &raquo;</a>
                    </p>
                </div>
            </div>
            
            <hr class="featurette-divider">
            
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="mg-md">
                        <a href="{% url 'water-use-geoanalyzer' %}">Water Quality Analyzer</a>
                    </h3>
                    <p>
                        This modeler is an interactive tool designed to model water production trends based on historical data,
                        giving the user a temporal edge of analyzing how much water was produced over a specific amount of time,
                        and how the user could imperatively plan the amount of water to be handled on a particular day. It has
                        been strategically designed to estimate time based production of water based on trends fitted to the well
                        known Arp's Equation for modeling produced water.  Not only does it calculate the water to be produced
                        on a particular day, it also seamless integrates the numbers to estimate  average water production volumes
                        for a particular time frame, as specified by the user.
                    </p>
                    <p>
                        <button type="button" class="btn btn-default">Try the demo &raquo;</button>
                    </p>
                </div>
                <div class="col-sm-6">
                    <a href="{% url 'water-use-geoanalyzer' %}"><img src="{% static 'img/placeholder-image.png' %}" class="img-responsive" alt=''/></a>
                </div>
            </div>
        
            <hr class="featurette-divider">
            
            <div class="row">
                <div class="col-sm-6">
                    <a href="{% url 'water-use-heatmapper' %}"><img src="{% static 'img/placeholder-image.png' %}" class="img-responsive" alt=''/></a>
                </div>
                <div class="col-sm-6">
                    <h3 class="mg-md">
                        <a href="{% url 'water-use-heatmapper' %}">Water Treatment Analyzer</a><br/><a href="{% url 'water-use-heatmapper' %}"></a>
                    </h3>
                    <p>
                        This analyzer is an interactive tool designed to fit the user, in this case,
                        an operator or a water management company to anlayze their statistics of water,
                        current and historical to establish a baseline and a trend to improve their water
                        use scenarios significantly. This tool also provides the user to look at
                        Key Performance Indicators (KPIs) such as average horizontal length drilled,
                        average water used per well and bbls water used per horizontal foot,
                        on an annual comparison basis.
                    </p>
                    <p>
                        <a class="btn btn-default" href="{% url 'water-use-heatmapper' %}" role="button">Try the demo &raquo;</a>
                    </p>
                </div>
            </div>
            
            <hr class="featurette-divider">
            
        </div>
    </div>
    
    
{% endblock %}

{% block footer %}
    <script src="{% static 'js/solution_flowchart.js' %}"></script>

{% endblock %}