{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
    <link rel="stylesheet" href="http://js.arcgis.com/3.13/esri/css/esri.css">
    <link rel="stylesheet" href="http://js.arcgis.com/3.14/dgrid/css/dgrid.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/geoanalytics.css' %}"/>
    <style type="text/css">
        .map{
            position:relative;
            width:100%;
            height:700px;
            border: 1px solid #A4A4A4;
            border-radius: 3px;
        }
        .map-legend {
            position: absolute;
            right: 10px;
            bottom: 40px;
            background-color: white;
            border-radius: 5px;
        }
        #legend1{
            height: 200px;
            width: 130px;
        }
        #legend2 {
            height: 270px;
            width: 130px;
        }
        #legend3 {
            height: 200px;
            width: 130px;
        }
        #close-route-sum-grid, #opt-route-sum-grid{
            height: 90px;
            width: 100%;
        }
        #service-area-grid, #close-route-grid, #opt-route-grid{
            height: 400px;
            width: 100%;
            border-radius: 3px;
        }
        #grid{
            height: 100%;
        }
        .dgrid-row{
            padding:5px;
            margin-bottom:5px;
            min-height:50px;
        }
        .dgrid-row .detail div {
            cursor: pointer;
        }
        .dgrid-row-table{
            cursor: pointer;
        }
        .dgrid-row .detail div:hover{
            text-decoration:underline;
        }
        .field-AreaID {
            width: 10%;
        }
        .field-DriveTime {
            width: 12%;
        }
        .field-WellsNumber {
            width: 13%;
        }
        .field-TotalWaterUse {
            width: 20%;
        }
        .field-AverageWaterUse {
            width: 20%;
        }
        .field-AverageHorizontalLength {
            width: 25%;
        }
        .field-Index, .field-RouteId {
            width: 20%;
        }
        .field-Details, .field-ToClosedFacility{
            width: 50%;
        }
        .field-Distance, .field-TotalDistance{
            width: 15%;
        }
        .field-DriveTime, .field-TotalDriveTime{
            width: 15%;
        }
        .cost-calculation{
            border-radius: 3px;
        }
        #toolbar1, #toolbar2, #toolbar3{
            margin-top: 10px;
        }
    </style>
{% endblock %}

{% block mainbody %}
    <div class="jumbotron">
        <div class="container">
            <h2>Transportantion Cost Optimizer</h2>
            <p style="text-align: justify">
                This optimizer is an interactive tool designed to optimize the route for produced water transportation.
                An optimized route will help to minimize the cost and save time.
            </p>
        </div>
    </div>
    
    <div class="container">
        <ul id="map-tabs" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a data-toggle="tab" href="#service-area">Service Area</a></li>
            <li role="presentation"><a data-toggle="tab" href="#nearest-facility" onclick="load_map2()">Nearest Facility</a></li>
            <li role="presentation"><a data-toggle="tab" href="#route-optimization" onclick="load_map3()">Route Optimization</a></li>
        </ul>
        <div class="tab-content">
            <div id="service-area" role="tabpanel" class="tab-pane active">
                <div class="map">
                    <div id="map1"></div>
                    <div class="map-legend">
                        <div id="legend1"></div>
                    </div>
                </div>
                <div id="toolbar1">
                    <button id="facility-point" name="point" class="btn btn-default">Add Treatment Facility</button>
                    <input id="minutes" type="text" name="mins" value="10"> mins
                    <button id="calculate-service-area" class="btn btn-default">Calculate Service Area</button>
                    <button id="clear-all" name="clear" class="btn btn-default">Clear</button>
                </div>
                <h4>Service Area Details</h4>
                <div id="service-area-details">
                    <div id="service-area-grid"></div>
                </div>
            </div>
            
            <div id="nearest-facility" role="tabpanel" class="tab-pane">
                <div class="map">
                    <div id="map2"></div>
                    <div class="map-legend">
                        <div id="legend2"></div>
                    </div>
                </div>
                <div id="toolbar2">
                    <button id="draw-rectangle" name="rectangle" class="btn btn-default">Rectangle</button>
                    <button id="draw-circle" name="circle" class="btn btn-default">Circle</button>
                    <button id="draw-freehandPolygon" name="freehandPolygon" class="btn btn-default">Polygon</button>
                    <button id="clear-them" class="btn btn-default">Clear</button>
                </div>
                <h4>Route to the Nearest Facility</h4>
                <div id="close-route-details">
                    <div id="close-route-grid"></div>
                    <div id="close-route-sum-grid"></div>
                </div>
                <h4>Cost Calculation</h4>
                <div class="cost-calculation">
                    <div class="row">
                        <div class="col-sm-3">
                            <p>Total Distance (miles)</p>
                        </div>
                        <div class="col-sm-3">
                            <p>Total Drive Time (Hours)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="total-miles-2">
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="total-drive-time-2">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <p>$/mile (Fuel)</p>
                        </div>
                        <div class="col-sm-3">
                            <p>$/hour (Driver)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="cost-per-mile-2">
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="cost-per-hour-2">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <p> </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <button class="btn btn-default" onclick="calculateCostByMiles2()">Calculate</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <p>Cost (Fuel)</p>
                        </div>
                        <div class="col-sm-3">
                            <p>Cost (Driver)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="fuel-cost-2">
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="drive-cost-2">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>Total Cost</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="total-cost-2">
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="route-optimization" role="tabpanel" class="tab-pane">
                <div class="map">
                    <div id="map3"></div>
                    <div class="map-legend">
                        <div id="legend3"></div>
                    </div>
                </div>
                <div id="toolbar3">
                    <button id="start-point" name="point" class="btn btn-default">Add Start Location</button>
                    <button id="calculate-optimized-route" class="btn btn-default">Calculate Optimized Route</button>
                    <button id="clear-all-them" name="clear" class="btn btn-default">Clear</button>
                </div>
                <h4>Route Details</h4>
                <div id="opt-route-details">
                    <div id="opt-route-grid"></div>
                    <div id="opt-route-sum-grid"></div>
                </div>
                <h4>Cost Calculation</h4>
                <div class="cost-calculation">
                    <div class="row">
                        <div class="col-sm-3">
                            <p>Total Distance (miles)</p>
                        </div>
                        <div class="col-sm-3">
                            <p>Total Drive Time (Hours)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="total-miles-3">
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="total-drive-time-3">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <p>$/mile (Fuel)</p>
                        </div>
                        <div class="col-sm-3">
                            <p>$/hour (Driver)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="cost-per-mile-3">
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="cost-per-hour-3">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <p> </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <button class="btn btn-default" onclick="calculateCostByMiles3()">Calculate</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <p>Cost (Fuel)</p>
                        </div>
                        <div class="col-sm-3">
                            <p>Cost (Driver)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="fuel-cost-3">
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="drive-cost-3">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>Total Cost</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="total-cost-3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
<script src="http://js.arcgis.com/3.13/"></script>
<script type="text/javascript">
    $(document).ready(function(){
        load_map1();
    });
    function calculateCostByMiles2(){
        var totalMiles = parseFloat($("#total-miles-2").val());
        var totalHours = parseFloat($("#total-drive-time-2").val());
        var costPerMile = parseFloat($("#cost-per-mile-2").val());
        var costPerHour = parseFloat($("#cost-per-hour-2").val());
        if (totalMiles && totalHours && costPerMile && costPerHour){
            var fuelCost = totalMiles * costPerMile;
            var driveCost = totalHours * costPerHour;
            var totalCost = fuelCost + driveCost;
            $("#fuel-cost-2").val(fuelCost.toFixed(2));
            $("#drive-cost-2").val(driveCost.toFixed(2));
            $("#total-cost-2").val(totalCost.toFixed(2));
        } else {
            alert("invalid number, please check!");
            return;
        }
    }
    function calculateCostByMiles3(){
        var totalMiles = parseFloat($("#total-miles-3").val());
        var totalHours = parseFloat($("#total-drive-time-3").val());
        var costPerMile = parseFloat($("#cost-per-mile-3").val());
        var costPerHour = parseFloat($("#cost-per-hour-3").val());
        if (totalMiles && totalHours && costPerMile && costPerHour){
            var fuelCost = totalMiles * costPerMile;
            var driveCost = totalHours * costPerHour;
            var totalCost = fuelCost + driveCost;
            $("#fuel-cost-3").val(fuelCost.toFixed(2));
            $("#drive-cost-3").val(driveCost.toFixed(2));
            $("#total-cost-3").val(totalCost.toFixed(2));
        } else {
            alert("invalid number, please check!");
            return;
        }
    }
</script>

<script type="text/javascript">
    // tab1
    function load_map1(){
        require([
            "esri/Color",
            "esri/dijit/Legend",
            "esri/dijit/Scalebar",
            "esri/dijit/PopupTemplate",
            "esri/graphic",
            "esri/geometry/geometryEngine",
            "esri/layers/FeatureLayer",
            "esri/layers/GraphicsLayer",
            "esri/lang",
            "esri/map",
            "esri/renderers/SimpleRenderer",
            "esri/symbols/SimpleFillSymbol",
            "esri/symbols/SimpleLineSymbol",
            "esri/symbols/SimpleMarkerSymbol",
            "esri/tasks/FeatureSet",
            "esri/tasks/GeometryService",
            "esri/tasks/query",
            "esri/tasks/ServiceAreaParameters",
            "esri/tasks/ServiceAreaTask",
            "esri/toolbars/draw",
            "dojo/_base/array",
            "dojo/dom",
            "dgrid/Grid",
            "dojo/on",
            "dojo/domReady!"
        ], function(
            Color,
            Legend,
            Scalebar,
            PopupTemplate,
            Graphic,
            geometryEngine,
            FeatureLayer,
            GraphicsLayer,
            esriLang,
            Map,
            SimpleRenderer,
            SimpleFillSymbol,
            SimpleLineSymbol,
            SimpleMarkerSymbol,
            FeatureSet,
            GeometryService,
            Query,
            ServiceAreaParameters,
            ServiceAreaTask,
            Draw,
            arrayUtils,
            dom,
            Grid,
            on
        ){
            //map
            var map = new Map("map1", {
                basemap: "streets",
                center: [-98.58, 28.8],
                zoom: 9
            });
            map.on("load", function(){
                map.disableScrollWheelZoom();
            });
            
            // well layer
            var wellsRenderer = new SimpleRenderer({
                symbol: {
                    type: "esriSMS",
                    style: "esriSMSCircle",
                    outline: {
                        width: 0.5,
                        color: [160, 160, 160, 70],
                    },
                    size: 5
                },
                colorInfo: {
                    field: "water_use",
                    minDataValue: 20000,
                    maxDataValue: 260000,
                    colors: [
                        new Color([0, 0, 255]),
                        new Color([0, 255, 0]),
                        new Color([255, 255, 0]),
                        new Color([255, 0, 0])
                    ]
                }
            });
            var wellServiceUrl = "http://services1.arcgis.com/KNdRU5cN6ENqCTjk/arcgis/rest/services/WaterUsePoint/FeatureServer/0";
            var wellsLayer = new FeatureLayer(wellServiceUrl, {
                mode: FeatureLayer.MODE_SNAPSHOT,
                outFields: ["water_use", "horizontal"]
            });
            wellsLayer.setRenderer(wellsRenderer);
            map.addLayer(wellsLayer);
            
            // legend
            var legend = new Legend({
                map: map,
                layerInfos: [{layer: wellsLayer, title: "Water Use (bbls)"}]
            }, "legend1");
            legend.startup();
            
            //scalebar
            var scalebar = new Scalebar({
                map: map,
                scalebarUnit: "dual"
            });
            
            var selectGraphicsLayer = new GraphicsLayer();
            map.addLayer(selectGraphicsLayer);
            
            //add two graphics layer for point & area
            var features = [];
            
            // grid for area data
            var serviceAreaGrid = new Grid({
                columns: {
                    AreaID: "Area ID",
                    DriveTime: "Drive Time (mins)",
                    WellsNumber: "Wells Number",
                    TotalWaterUse: "Total Water Use (bbls)",
                    AverageWaterUse: "Average Water Use (bbls)",
                    AverageHorizontalLength: "Average Horizontal Length (feet)"
                }
            }, "service-area-grid");
            var areaNumber = 0;
            
            // draw
            var toolbar = new Draw(map);
            on(dom.byId("toolbar1"), "click", function (event) {
                if (event.target.id === "toolbar1") {
                    return;
                }
                if (event.target.id === "clear-all") {
                    map.graphics.clear();
                    wellsLayer.clearSelection();
                    features = [];
                    if (serviceAreaGrid){
                        $("#service-area-grid").empty();
                        serviceAreaGrid = new Grid({
                            columns: {
                                AreaID: "Area ID",
                                DriveTime: "Drive Time (mins)",
                                WellsNumber: "Wells Number",
                                TotalWaterUse: "Total Water Use (bbls)",
                                AverageWaterUse: "Average Water Use (bbls)",
                                AverageHorizontalLength: "Average Horizontal Length (feet)"
                            }
                        }, "service-area-grid");
                        areaNumber = 0;
                    }
                    selectGraphicsLayer.clear();
                    return;
                }
                var tool = event.target.name.toLowerCase();
                if (event.target.id === "facility-point") {
                    toolbar.activate(tool);
                    toolbar.on("draw-end", function (event) {
                        toolbar.deactivate();
                        var pointGraphic = new Graphic();
                        var pointSymbol = new SimpleMarkerSymbol({
                            type: "esriSMS",
                            style: "esriSMSSquare",
                            outline: {
                                width: 0.5,
                                color: [160, 160, 160, 70],
                            },
                            size: 13,
                            color: new Color([255,10,10])
                        });
                        pointGraphic.setGeometry(event.geometry);
                        pointGraphic.setSymbol(pointSymbol);
                        map.graphics.add(pointGraphic);
                        features.push(pointGraphic);
                    });
                }
            });
            
            // add service area
            on(dom.byId("calculate-service-area"), "click", function(event){
                if (features.length < 1) {
                    return;
                }
                // service area parameters
                var saParams = new ServiceAreaParameters();
                var facilities = new FeatureSet();
                facilities.features = features;
                saParams.facilities = facilities;
                saParams.defaultBreaks= [dom.byId("minutes").value];
                saParams.outSpatialReference = map.spatialReference;
                saParams.returnFacilities = false;
                
                // service area task
                var naServiceUrl = "https://utility.arcgis.com/usrsvcs/servers/9f6aa15d974b496f8199b67c24b28245/rest/services/World/ServiceAreas/NAServer/ServiceArea_World";
                var serviceAreaTask = new ServiceAreaTask(naServiceUrl);
                var polygonSymbol = new SimpleFillSymbol(
                    "solid",  
                    new SimpleLineSymbol("solid", new Color([232,104,80]), 2),
                    new Color([232,104,80,0.25])
                );
                serviceAreaTask.solve(saParams, function(solveAreas){
                    arrayUtils.forEach(solveAreas.serviceAreaPolygons, function(serviceArea){
                        convexServiceArea = geometryEngine.convexHull(serviceArea.geometry);
                        // add service area to map
                        var areaGraphic = new Graphic(convexServiceArea, polygonSymbol);
                        map.graphics.add(areaGraphic);
                        // summarize
                        var query = new Query();
                        query.geometry = areaGraphic.geometry;
                        wellsLayer.selectFeatures(query, FeatureLayer.SELECTION_NEW, function(features){
                            var totalWaterUse = 0.0;
                            var totalLength = 0.0;
                            var featuresNumber = features.length;
                            arrayUtils.forEach(features, function (feature) {
                                totalWaterUse += feature.attributes.water_use;
                                totalLength += feature.attributes.horizontal;
                            });
                            var meanWaterUse = totalWaterUse / featuresNumber;
                            var meanLength = totalLength / featuresNumber;
                            
                            // add to grid
                            areaNumber += 1;
                            areaGraphic.setAttributes({"AreaID": areaNumber});
                            var template = new PopupTemplate({
                                title: "Graphic Info",
                                fieldInfos: [
                                    {
                                        fieldName: "AreaID",
                                        label: "Area ID:",
                                        visible: true
                                    }
                                ],
                            });
                            areaGraphic.setInfoTemplate(template);
                            var rowData = {AreaID: areaNumber, DriveTime: dom.byId("minutes").value, WellsNumber: featuresNumber, TotalWaterUse: Math.round(totalWaterUse), AverageWaterUse: Math.round(meanWaterUse), AverageHorizontalLength: Math.round(meanLength)};
                            serviceAreaGrid.renderArray([rowData]);
                        });
                    });
                });
                // click
                serviceAreaGrid.on(".dgrid-row:click", zoomToArea);
                var newFillSymbol = new SimpleFillSymbol(
                    "solid",  
                    new SimpleLineSymbol("solid", new Color([0,0,255]), 3),
                    new Color([232,104,80,0.25])
                );
                
                function zoomToArea(event){
                    selectGraphicsLayer.clear();
                    areaID = serviceAreaGrid.row(event).data.AreaID;
                    arrayUtils.forEach(map.graphics.graphics, function(areaGraphic){
                        if (areaGraphic.attributes){
                            if (areaGraphic.attributes.AreaID === areaID){
                                var targetAreaGraphic = new Graphic(areaGraphic.geometry, newFillSymbol);
                                selectGraphicsLayer.add(targetAreaGraphic);
                                map.setExtent(targetAreaGraphic.geometry.getExtent(), true);
                            }
                        }
                    });
                }
            });
        });
    }
</script>

<script type="text/javascript">
    // tab2
    var map2_clicked = false;
    function load_map2(){
        if (!map2_clicked){
            require([
                "esri/config",
                "esri/Color",
                "esri/dijit/Legend",
                "esri/dijit/Scalebar",
                "esri/dijit/PopupTemplate",
                "esri/graphic",
                "esri/geometry/Point",
                "esri/layers/FeatureLayer",
                "esri/map",
                "esri/renderers/SimpleRenderer",
                "esri/symbols/SimpleFillSymbol",
                "esri/symbols/SimpleLineSymbol",
                "esri/symbols/SimpleMarkerSymbol",
                "esri/tasks/ClosestFacilityTask",
                "esri/tasks/ClosestFacilityParameters",
                "esri/tasks/FeatureSet",
                "esri/tasks/GeometryService",
                "esri/tasks/query",
                "esri/tasks/ServiceAreaParameters",
                "esri/tasks/ServiceAreaTask",
                "esri/toolbars/draw",
                "dojo/_base/array",
                "dojo/dom",
                "dgrid/Grid",
                "dojo/on",
                "dojo/domReady!"
            ], function(
                esriConfig,
                Color,
                Legend,
                Scalebar,
                PopupTemplate,
                Graphic,
                Point,
                FeatureLayer,
                Map,
                SimpleRenderer,
                SimpleFillSymbol,
                SimpleLineSymbol,
                SimpleMarkerSymbol,
                ClosestFacilityTask,
                ClosestFacilityParameters,
                FeatureSet,
                Query,
                GeometryService,
                ServiceAreaParameters,
                ServiceAreaTask,
                Draw,
                arrayUtils,
                dom,
                Grid,
                on
            ){
                // CORS
                esriConfig.defaults.io.corsEnabledServers.push("utility.arcgis.com");
                
                //map
                var map = new Map("map2", {
                 basemap: "streets",
                 center: [-98.58, 28.8],
                 zoom: 9
                });
                map.on("load", function(){
                    map.disableScrollWheelZoom();
                });
                
                // well layer
                var wellsRenderer = new SimpleRenderer({
                    symbol: {
                        type: "esriSMS",
                        style: "esriSMSCircle",
                        outline: {
                         width: 0.5,
                         color: [160, 160, 160, 70],
                        },
                        size: 5
                    },
                    colorInfo: {
                        field: "water_use",
                        minDataValue: 20000,
                        maxDataValue: 260000,
                        colors: [
                            new Color([0, 0, 255]),
                            new Color([0, 255, 0]),
                            new Color([255, 255, 0]),
                            new Color([255, 0, 0])
                        ]
                    }
                });
                // selection symbol
                var selectionSymbol = new SimpleMarkerSymbol({
                    type: "esriSMS",
                    style: "esriSMSCircle",
                    size: 7,
                    color: new Color([207, 34, 171, 0.5])
                });
                var wellServiceUrl = "http://services1.arcgis.com/KNdRU5cN6ENqCTjk/arcgis/rest/services/WaterUsePoint/FeatureServer/0";
                var wellsLayer = new FeatureLayer(wellServiceUrl, {
                    mode: FeatureLayer.MODE_SNAPSHOT,
                    outFields: ["water_use"]
                });
                wellsLayer.setRenderer(wellsRenderer);
                wellsLayer.setSelectionSymbol(selectionSymbol);
                
                // treatment Facility layer
                var treatmentFacilityRenderer = new SimpleRenderer({
                    symbol: {
                        type: "esriSMS",
                        style: "esriSMSSquare",
                        outline: {
                            width: 0.5,
                            color: [160, 160, 160, 70],
                        },
                        size: 11,
                        color: new Color([180,30,130])
                    }
                });
                var treatmentFacilityTemplate = new PopupTemplate({
                    fieldInfos: [
                        {
                            fieldName: "Name",
                            label: "Name",
                            visible: true
                        }
                    ]
                });
                var treatmentFacilityServiceUrl = "http://services1.arcgis.com/KNdRU5cN6ENqCTjk/arcgis/rest/services/TreatmentFacility/FeatureServer/0";
                var treatmentFacilityLayer = new FeatureLayer(treatmentFacilityServiceUrl, {
                    mode: FeatureLayer.MODE_SNAPSHOT,
                    infoTemplate: treatmentFacilityTemplate,
                    outFields: ["Name"]
                });
                treatmentFacilityLayer.setRenderer(treatmentFacilityRenderer);
                map.addLayers([wellsLayer, treatmentFacilityLayer]);
                
                // legend
                var legend = new Legend({
                    map: map,
                    layerInfos:[{layer: wellsLayer, title:"Water Use (bbls)"}, {layer: treatmentFacilityLayer, title:"Treatment Facility"}]
                }, "legend2");
                legend.startup();
                
                //scalebar
                var scalebar = new Scalebar({
                    map: map,
                    scalebarUnit: "dual"
                });
                
                // grid for route summary data
                var closeRouteSumGrid = new Grid({
                    columns: {
                        RouteId: "Route Id",
                        ToClosedFacility: "To Closed Facility",
                        TotalDistance: "Total Distance (miles)",
                        TotalDriveTime: "Total Drive Time (mins)"
                    }
                }, "close-route-sum-grid");
                // grid for route data
                var closeRouteGrid = new Grid({
                    columns: {
                        Index: "Index",
                        Details: "Details",
                        Distance: "Distance (miles)",
                        DriveTime: "Drive Time (mins)"
                    }
                }, "close-route-grid");
                
                // nearest facilities
                var cfServiceUrl = "http://utility.arcgis.com/usrsvcs/servers/1e3c79d2d2684f33806420f2fde7111b/rest/services/World/ClosestFacility/NAServer/ClosestFacility_World";
                var closestFacilityTask = new ClosestFacilityTask(cfServiceUrl);
                var cfParams = new ClosestFacilityParameters();
                cfParams.impedenceAttribute= "Miles";
                cfParams.returnIncidents=false;
                cfParams.returnRoutes=true;
                cfParams.returnDirections=true;
                cfParams.returnFacilities=false;
                var facilities = new FeatureSet();
                facilities.features = treatmentFacilityLayer.graphics;
                cfParams.facilities = facilities;
                cfParams.outSpatialReference = map.spatialReference;
                cfParams.defaultTargetFacilityCount = 1;
                var routeSymbol = new SimpleLineSymbol({
                    color: new Color([20, 20, 255]),
                    style: "STYLE_SOLID",
                    width: 2
                });
                
                var toolbar = new Draw(map);
                on(dom.byId("toolbar2"), "click", function (event) {
                    if (event.target.id === "toolbar2") {
                        return;
                    }
                    if (event.target.id === "clear-them") {
                        map.graphics.clear();
                        wellsLayer.clearSelection();
                        $("#close-route-sum-grid").empty();
                        closeRouteSumGrid = new Grid({
                            columns: {
                                RouteId: "Route Id",
                                ToClosedFacility: "To Closed Facility",
                                TotalDistance: "Total Distance (miles)",
                                TotalDriveTime: "Total Drive Time (mins)"
                            }
                        }, "close-route-sum-grid");
                        $("#close-route-grid").empty();
                        closeRouteGrid = new Grid({
                            columns: {
                                Index: "Index",
                                Details: "Details",
                                Distance: "Distance (miles)",
                                DriveTime: "Drive Time (mins)"
                            }
                        }, "close-route-grid");
                        $("#total-miles-2").val("");
                        $("#cost-per-mile-2").val("");
                        $("#total-cost-by-miles-2").val("");
                        $("#total-drive-time-2").val("");
                        $("#cost-per-hour-2").val("");
                        $("#total-cost-by-hours-2").val("");
                        return;
                    }
                    var tool = event.target.name.toLowerCase();
                    toolbar.activate(tool);
                });
                
                // route & directions
                var directionFeatures;
                var segmentGraphic;
                toolbar.on("draw-end", function (event) {
                    toolbar.deactivate();
                    var graphic = new Graphic();
                    var fillSymbol = new SimpleFillSymbol({
                        type: "esriSFS",
                        style: "esriSFSSolid",
                        color: [100, 100, 100, 50],
                        outline: new SimpleLineSymbol()
                    });
                    graphic.setGeometry(event.geometry);
                    graphic.setSymbol(fillSymbol);
                    map.graphics.clear();
                    map.graphics.add(graphic);
                    // query
                    var query = new Query();
                    query.geometry = event.geometry;
                    wellsLayer.selectFeatures(query, FeatureLayer.SELECTION_NEW, function(features){
                        if (features.length < 1){
                            return;
                        }
                        // find the centroid of the group of selected points
                        var points = dojo.map(features,function(feature){
                            return feature.geometry;
                        });
                        var xSum = 0.0;
                        var ySum = 0.0;
                        arrayUtils.forEach(points, function(point){
                            xSum += point.x;
                            ySum += point.y;
                        });
                        xCenter = xSum / points.length;
                        yCenter = ySum / points.length;
                        var centroid = new Point(xCenter, yCenter, map.spatialReference);
                        centroidGraphic = new Graphic(centroid, new SimpleMarkerSymbol({
                            type: "esriSMS",
                            style: "esriSMSCross",
                            outline: {
                                width: 2,
                                color: new Color([255, 0, 0]),
                            },
                            size: 13,
                            color: new Color([255,0,0])
                        }));
                        map.graphics.add(centroidGraphic);
                        var incidents = new FeatureSet();
                        incidents.features = [centroidGraphic];
                        cfParams.incidents = incidents;
                        
                        // find the nearest facility
                        closestFacilityTask.solve(cfParams, function(solveResult){
                            // route
                            closeRoute = solveResult.routes[0];
                            map.graphics.add(closeRoute.setSymbol(routeSymbol));
                            // directions
                            var closeDirections = solveResult.directions[0];
                            directionFeatures = closeDirections.features;
                            var gridDirection = arrayUtils.map(directionFeatures, function(feature,index){
                                return {
                                    Index: index,
                                    Details: feature.attributes.text,
                                    Distance: feature.attributes.length.toFixed(2),
                                    DriveTime: feature.attributes.time.toFixed(2)
                                };
                            });
                            $("#close-route-grid").empty();
                            closeRouteGrid = new Grid({
                                columns: {
                                    Index: "Index",
                                    Details: "Details",
                                    Distance: "Distance (miles)",
                                    DriveTime: "Drive Time (mins)"
                                }
                            }, "close-route-grid");
                            closeRouteGrid.renderArray(gridDirection);
                            var routeId = closeDirections.routeId;
                            var toClosedFacility = closeDirections.routeName;
                            var totalDistance = closeDirections.totalLength.toFixed(2);
                            var totalDriveTime = closeDirections.totalDriveTime.toFixed(2);
                            var sumData = [{RouteId: routeId, ToClosedFacility: toClosedFacility, TotalDistance: totalDistance, TotalDriveTime: totalDriveTime}];
                            $("#close-route-sum-grid").empty();
                            closeRouteSumGrid = new Grid({
                                columns: {
                                    RouteId: "Route Id",
                                    ToClosedFacility: "To Closed Facility",
                                    TotalDistance: "Total Distance (miles)",
                                    TotalDriveTime: "Total Drive Time (mins)"
                                }
                            }, "close-route-sum-grid");
                            closeRouteSumGrid.renderArray(sumData);
                            $("#total-miles-2").val(totalDistance);
                            $("#total-drive-time-2").val((totalDriveTime/60).toFixed(2));
                        });
                    });
                });
                // click to zoom
                closeRouteGrid.on(".dgrid-row:click", zoomToSegment);
                function zoomToSegment(event){
                    var index = closeRouteGrid.row(event).id;
                    var segment = directionFeatures[index];
                    var segmentSymbol = new SimpleLineSymbol().setColor(new Color([255,0,0,0.5])).setWidth(8);
                    
                    map.setExtent(segment.geometry.getExtent(), true);
                    if ( !segmentGraphic ) {
                        segmentGraphic = map.graphics.add(new Graphic(segment.geometry, segmentSymbol));
                    } else {
                        segmentGraphic.setGeometry(segment.geometry);
                    }
                }
            });
            map2_clicked = true;
        }
    }
</script>

<script type="text/javascript">
    // tab3
    var map3_clicked = false;
    function load_map3(){
        if (!map3_clicked) {
            require([
                "esri/config",
                "esri/Color",
                "esri/dijit/Legend",
                "esri/dijit/Scalebar",
                "esri/dijit/PopupTemplate",
                "esri/graphic",
                "esri/layers/FeatureLayer",
                "esri/layers/GraphicsLayer",
                "esri/map",
                "esri/renderers/SimpleRenderer",
                "esri/symbols/SimpleMarkerSymbol",
                "esri/symbols/SimpleLineSymbol",
                "esri/tasks/FeatureSet",
                "esri/tasks/RouteParameters",
                "esri/tasks/RouteTask",
                "esri/toolbars/draw",
                "dojo/_base/array",
                "dgrid/Grid",
                "dojo/dom",
                "dojo/on",
                "dojo/domReady!"
            ], function(
                esriConfig,
                Color,
                Legend,
                Scalebar,
                PopupTemplate,
                Graphic,
                FeatureLayer,
                GraphicsLayer,
                Map,
                SimpleRenderer,
                SimpleMarkerSymbol,
                SimpleLineSymbol,
                FeatureSet,
                RouteParameters,
                RouteTask,
                Draw,
                arrayUtils,
                Grid,
                dom,
                on
             ){
                // CORS
                esriConfig.defaults.io.corsEnabledServers.push("utility.arcgis.com");
                //map
                var map = new Map("map3", {
                    basemap: "streets",
                    center: [-99.68, 28.35],
                    zoom: 12
                });
                map.on("load", function() {
                    map.disableScrollWheelZoom();
                });
                var scalebar = new Scalebar({
                    map: map,
                    scalebarUnit: "dual"
                });
                map.on("load", function(){
                    map.disableScrollWheelZoom();
                });
                // 10 wells layer
                 var tenWellsRenderer = new SimpleRenderer({
                    symbol: {
                        type: "esriSMS",
                        style: "esriSMSCircle",
                        outline: {
                         width: 0.5,
                         color: [160, 160, 160, 70],
                        },
                        size: 10
                    },
                    colorInfo: {
                        field: "water_use",
                        minDataValue: 72000,
                        maxDataValue: 260000,
                        colors: [
                            new Color([0, 0, 255]),
                            new Color([0, 255, 0]),
                            new Color([255, 255, 0]),
                            new Color([255, 0, 0])
                        ]
                    }
                });
                var tenWellsTemplate = new PopupTemplate({
                     fieldInfos: [
                         {
                             fieldName: "water_use",
                             visible: true
                         }
                     ]
                 });
                tenWellsServiceUrl = "http://services1.arcgis.com/KNdRU5cN6ENqCTjk/arcgis/rest/services/TenWaterUsePoints/FeatureServer/0";
                var tenWellsLayer = new FeatureLayer(tenWellsServiceUrl, {
                    mode: FeatureLayer.MODE_SNAPSHOT,
                    infoTemplate: tenWellsTemplate,
                    outFields: ["water_use"]
                });
                tenWellsLayer.setRenderer(tenWellsRenderer);
                map.addLayer(tenWellsLayer);
                // legend
                var legend = new Legend({
                    map: map,
                    layerInfos: [{layer: tenWellsLayer, title: "Water Use (bbls)"}]
                }, "legend3");
                legend.startup();
                // grid for route summary data
                var optRouteSumGrid = new Grid({
                    columns: {
                        RouteId: "Route Id",
                        RouteName: "Route Name",
                        TotalDistance: "Total Distance (miles)",
                        TotalDriveTime: "Total Drive Time (mins)"
                    }
                }, "opt-route-sum-grid");
                // grid for optimized data
                var optRouteGrid = new Grid({
                    columns: {
                        Index: "Index",
                        Details: "Details",
                        Distance: "Distance (miles)",
                        DriveTime: "Drive Time (mins)"
                    },
                }, "opt-route-grid");
                // route params
                var directionFeatures;
                var segmentGraphic;
                naServiceUrl = "http://utility.arcgis.com/usrsvcs/servers/cc83495aa68841219353131cf078a2ea/rest/services/World/Route/NAServer/Route_World";
                var routeTask = new RouteTask(naServiceUrl);
                var routeParams = new RouteParameters();
                var stops = new FeatureSet();
                routeParams.outSpatialReference = map.spatialReference;
                routeParams.returnDirections = true;
                // toolbar
                var toolbar = new Draw(map);
                var has_start_point = false;
                on(dom.byId("toolbar3"), "click", function (event) {
                    if (event.target.id === "toolbar3") {
                        return;
                    }
                    if (event.target.id === "clear-all-them") {
                        map.graphics.clear();
                        has_start_point = false;
                        $("#opt-route-sum-grid").empty();
                        optRouteSumGrid = new Grid({
                            columns: {
                                RouteId: "Route Id",
                                RouteName: "Route Name",
                                TotalDistance: "Total Distance (miles)",
                                TotalDriveTime: "Total Drive Time (mins)"
                            }
                        }, "opt-route-sum-grid");
                        $("#opt-route-grid").empty();
                        optRouteGrid = new Grid({
                            columns: {
                                Index: "Index",
                                Details: "Details",
                                Distance: "Distance (miles)",
                                DriveTime: "Drive Time (mins)"
                            }
                        }, "opt-route-grid");
                        $("#total-miles-3").val("");
                        $("#cost-per-mile-3").val("");
                        $("#total-cost-by-miles-3").val("");
                        $("#total-drive-time-3").val("");
                        $("#cost-per-hour-3").val("");
                        $("#total-cost-by-hours-3").val("");
                        return;
                    }
                    var tool = event.target.name.toLowerCase();
                    if (tool === "point") {
                        toolbar.activate(tool);
                    }
                });
                var startPointGraphic;
                toolbar.on("draw-end", function (event) {
                    toolbar.deactivate();
                    var pointSymbol = new SimpleMarkerSymbol({
                        type: "esriSMS",
                        style: "esriSMSCross",
                        outline: {
                            width: 3,
                            color: new Color([255,10,10])
                        },
                        size: 13
                    });
                    startPointGraphic = new Graphic(event.geometry, pointSymbol);
                    map.graphics.clear();
                    map.graphics.add(startPointGraphic);
                    has_start_point = true;
                });
                // route solve
                on(dom.byId("calculate-optimized-route"), "click", function(){
                    if (!has_start_point){
                        return;
                    } else {
                        //set stops order
                        var tempFeatures = []
                        arrayUtils.forEach(tenWellsLayer.graphics, function(graphic){
                            tempFeatures.push(new Graphic(graphic.geometry));
                        });
                        stops.features = [new Graphic(startPointGraphic.geometry)];
                        while (tempFeatures.length > 0){
                            var minDist = Infinity;
                            preGraphic = stops.features[stops.features.length - 1];
                            preX = preGraphic.geometry.x;
                            preY = preGraphic.geometry.y;
                            var nextGraphic;
                            var index;
                            arrayUtils.forEach(tempFeatures, function(graphic){
                                curX = graphic.geometry.x;
                                curY = graphic.geometry.y;
                                dist = Math.sqrt((preX-curX)*(preX-curX) + (preY-curY)*(preY-curY));
                                if (dist < minDist) {
                                    minDist = dist;
                                    nextGraphic = graphic;
                                    index = tempFeatures.indexOf(graphic);
                                }
                            });
                            stops.features.push(nextGraphic);
                            tempFeatures.splice(index, 1);
                        }
                        routeParams.stops = stops;
                        //solve
                        routeTask.solve(routeParams);
                        routeTask.on("solve-complete", showRoute);
                        routeTask.on("error", errorHandler);
                    }
                });
                function showRoute(event) {
                    var gridData = [];
                    if (optRouteGrid){
                        $("#opt-route-grid").empty();
                        optRouteGrid = new Grid({
                            columns: {
                                Index: "Index",
                                Details: "Details",
                                Distance: "Distance (miles)",
                                DriveTime: "Drive Time (mins)"
                            },
                        }, "opt-route-grid");
                        $("#opt-route-sum-grid").empty();
                        optRouteSumGrid = new Grid({
                            columns: {
                                RouteId: "Route Id",
                                RouteName: "Route Name",
                                TotalDistance: "Total Distance (miles)",
                                TotalDriveTime: "Total Drive Time (mins)"
                            }
                        }, "opt-route-sum-grid");
                    }
                    var routeSymbol = new SimpleLineSymbol({
                        color: new Color([30, 150, 185]),
                        style: "STYLE_SOLID",
                        width: 2
                    });
                    map.graphics.add(event.result.routeResults[0].route.setSymbol(routeSymbol));
                    // display the route details
                    var directions = event.result.routeResults[0].directions;
                    directionFeatures = directions.features;
                    var directionsInfo = event.result.routeResults[0].directions.features;
                    gridData = arrayUtils.map(directionsInfo,function(feature,index){
                        return {
                            Index: index,
                            Details: feature.attributes.text,
                            Distance: feature.attributes.length.toFixed(2),
                            DriveTime: feature.attributes.time.toFixed(2)
                        };
                    });
                    $("#opt-route-grid").empty();
                    optRouteGrid = new Grid({
                        columns: {
                            Index: "Index",
                            Details: "Details",
                            Distance: "Distance (miles)",
                            DriveTime: "Drive Time (mins)"
                        }
                    }, "opt-route-grid");
                    optRouteGrid.renderArray(gridData);
                    var routeId = directions.routeId;
                    var routeName = directions.routeName;
                    var totalDistance = directions.totalLength.toFixed(2);
                    var totalDriveTime = directions.totalDriveTime.toFixed(2);
                    var sumData = [{RouteId: routeId, RouteName: routeName, TotalDistance: totalDistance, TotalDriveTime: totalDriveTime}];
                    $("#opt-route-sum-grid").empty();
                    optRouteSumGrid = new Grid({
                        columns: {
                            RouteId: "Route Id",
                            RouteName: "Route Name",
                            TotalDistance: "Total Distance (miles)",
                            TotalDriveTime: "Total Drive Time (mins)"
                        }
                    }, "opt-route-sum-grid");
                    optRouteSumGrid.renderArray(sumData);
                    $("#total-miles-3").val(totalDistance);
                    $("#total-drive-time-3").val((totalDriveTime/60).toFixed(2));
                    optRouteGrid.on(".dgrid-row:click", zoomToSegment);
                }
                function zoomToSegment(event) {
                    // grid row id corresponds to the segment to highlight
                    var index = optRouteGrid.row(event).id;
                    var segment = directionFeatures[index];
                    var segmentSymbol = new SimpleLineSymbol().setColor(new Color([255,0,0,0.5])).setWidth(8);
                    
                    map.setExtent(segment.geometry.getExtent(), true);
                    if ( !segmentGraphic ) {
                        segmentGraphic = map.graphics.add(new Graphic(segment.geometry, segmentSymbol));
                    } else {
                        segmentGraphic.setGeometry(segment.geometry);
                    }
                }
                //Displays any error returned by the Route Task
                function errorHandler(err) {
                    alert("An error occured\n" + err.message);
                }
            });
            map3_clicked = true;
        }
    }
</script>
{% endblock %}