{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
    <link rel="stylesheet" href="http://js.arcgis.com/3.13/esri/css/esri.css">
    <style type="text/css">
        .map, #map-1, #map-2{
            position:relative;
            width:100%;
            height:600px;
        }
        .map-legend{
            position:absolute;
            height:200px;
            width:110px;
            right:10px;
            bottom:40px;
            background-color:white;
            border-radius:5px;
        }
    </style>
{% endblock %}

{% block mainbody %}
    <div class="jumbotron">
        <div class="container">
            <h2>Water Use Geoanalyzer</h2>
            
            <p style="text-align: justify">
                This analyzer is an tool based on GIS techniques, which provides a new way to see the traditional data.
                Right now, it helps to visualize the water use data of different fractured wells, as well as create a 
                heatmap based on the well density. People can look into the the well distribution and the attribute of the
                wells directly on map.
            </p>
        </div>
    </div>
    
    <div class="container">
        <h3>Water Use Query</h3>
        <hr>
        <p>**click the circle to show the attributes</p>
        <div class="map">
            <div id="map-1"></div>
            <div class="map-legend">
                <div id="legend-1"></div>
            </div>
        </div>
        
        <h3 style="padding-top:30px">Heatmap Based on Wells Desity</h3>
        <hr>
        <div class="map">
            <div id="map-2"></div>
        </div>
    </div>
{% endblock %}

{% block footer %}
<script src="http://js.arcgis.com/3.13/"></script>
<script type="text/javascript">
    require([
    "esri/arcgis/utils",
    "esri/dijit/Legend",
    "esri/dijit/Scalebar",
    "dojo/domReady!"
    ], function(
        arcgisUtils,
        Legend,
        Scalebar
    ) {
        //var agoId = "4778fee6371d4e83a22786029f30c7e1";
        var agoId = "3474bb4747ac4dfb91307ecd2e27ea8d";
        arcgisUtils.createMap(agoId, "map-1").then(function(response) {
            
            // map
            var map = response.map;
            
            // layers
            var optionalLayers = response.itemInfo.itemData.operationalLayers;
            layer = optionalLayers[0]
            layer.layerObject.setVisibility(true);
            
            //add the scalebar 
            var scalebar = new Scalebar({
              map: map,
              scalebarUnit: "english"
            });
            
            //add the legend. Note that we use the utility method getLegendLayers to get 
            //the layers to display in the legend from the createMap response.
            var legendLayers = arcgisUtils.getLegendLayers(response); 
            var legendDijit = new Legend({
                    map: map,
                    layerInfos: legendLayers
                },"legend-1");
            legendDijit.startup();
        });
    });
</script>
{% endblock %}